<html>
    <head></head>
    <body>
        <div class="j1holcontents">
            
            <h1><a name="Exercise_0"></a>Exercise 0: Install and Configure Lab Environment</h1>
            
            <p class="j1holwarn">
                For JavaOne attendees using the lab machines provided, the steps in
                Exercise 0 are done for you as part of the login process. So please
                proceed to <a href="#Exercise_1">Exercise 1</a>.
            </p>
            
            <ol class="j1hollist">
                <li>Start the NetBeans 4.1 IDE and see if the IDE comes up.
                    
                    <ul>
                        <li>On Windows, <span style="font-weight: bold;">Start &gt;
                            Programs &gt; NetBeans IDE &gt; NetBeans IDE 4.1 &gt; NetBeans IDE </span>or
                            click NetBeans 4.1 desktop icon<span style="font-weight: bold;"><br>
                                
                        </span></li>
                        <li>On Solaris, UNIX, or Linux, open a terminal window, then type <span
                                style="font-weight: bold;">&lt;netbeans41_HOME&gt;</span><span
                            style="font-family: helvetica,arial,sans-serif; font-weight: bold;">/bin/netbeans</span></li>
                    </ul>
                </li>
                <li>
                    Add Sun Java App Server 8.1 as an
                    additional Runtime platform (in addition to Tomcat 5) if you installed
                    NetBeans that does not contain Sun Java System App Server PE 8.1.
                    <ol>
                        <li>
                            Select <span style="font-weight: bold;">Runtime</span> tab
                        </li>
                        
                        <li>
                            Right-click <span style="font-weight: bold;">Servers</span>
                            and select <span style="font-weight: bold;">Add Server</span>.
                            
                            <p><img src="index_files/addserver.jpg" style="width: 671px; height: 509px;"></p>
                        </li>
                        
                        <li>
                            In the <span style="font-weight: bold;">Choose
                            Server</span> pane of the <span style="font-weight: bold;">Add Server
                            Instance</span> window, drop down the Server field and choose <span
                                style="font-weight: bold;">Sun Java System Application Server 8.1</span>.
                            Click <span style="font-weight: bold;">Next</span>.
                            
                            <p><img src="index_files/addserverinstance.jpg" style="width: 608px; height: 448px;"></p>
                        </li>
                        
                        <li>
                            In the <span style="font-weight: bold;">Enter
                            the Application Server location</span> pane, select Browse button and
                            select installation location of the Sun Java System App server.
                            It is c:\Sun\AppServer under Windows and $HOME/SUNWappserver
                            under Linux/Solaris. Click <span style="font-weight: bold;">Next</span>.
                        </li>
                        
                        <li>
                            In the <span style="font-weight: bold;">Choose
                            Application Server Instance</span> pane:
                            <ul>
                                <li>
                                    for <span style="font-weight: bold;">Local
                                    Server Instance (Default Location)</span> field, select <span
                                        style="font-weight: bold;">localhost:4848 (domain1)</span>
                                </li>
                                <li>
                                    for <span style="font-weight: bold;">Admin User Name</span> and
                                    <span style="font-weight: bold;">Admin
                                    Password</span> fields, type in the admin username and password.
                                </li>
                                <li>
                                    Click <span style="font-weight: bold;">Finish</span>.
                                    
                                    <p><img src="index_files/addserverinstance2.jpg" style="width: 608px; height: 448px;"></p>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>
                <li>Start the Sun Java System App Server. You can choose one
                    of the following 3 options to start the App Server.
                    
                    <ul>
                        <li>
                            Option 1: From the Start menu (Windows platform)
                            
                            <ol>
                                <li>
                                    Start-&gt;All Programs-&gt;Sun
                                    Microsystems-&gt;Application Server PE-&gt;Start Default Server
                                </li>
                            </ol>
                        </li>
                        <li>
                            Option 2: From the command line
                            
                            <ol>
                                <li>Windows: c:\Sun\AppServer\bin\asadmin
                                    start-domain domain1 (to start admin server of domain1 and app server
                                    instance server1 under domain1)
                                </li>
                                <li>Solaris/Linux:
                                    /opt/SUNWappserver/bin/asadmin start-domain domain1
                                    (to start admin server of domain1 and app server instance
                                    server1 under domain1)
                                </li>
                            </ol>
                        </li>
                        <li>
                            Option 3: Within NetBeans IDE
                            
                            <ol>
                                
                                <li>
                                    Select <span style="font-weight: bold;">Runtime</span> tab
                                </li>
                                <li>
                                    Expand <span style="font-weight: bold;">Servers</span>
                                </li>
                                <li>
                                    Right click <span style="font-weight: bold;">Sun
                                    Java System Application Server 8.1</span> and
                                    select <span style="font-weight: bold;">Start/Stop Server</span>
                                </li>
                                <li>
                                    If the App Server is in &quot;<span
                                        style="font-weight: bold;">Server is stopped</span>&quot; state,
                                    click <span style="font-weight: bold;">Start Server </span>button
                                </li>
                            </ol>
                        </li>
                    </ul>
                </li>
                
                <li>
                    Change configuration files
                    
                    <ol>
                        <li>
                            Set <code>&lt;j2ee1.4tutorial_install&gt;/j2eetutorial14/examples/common/build.properties</code>
                            file as described in <a href="http://java.sun.com/j2ee/1.4/docs/tutorial/doc/About.html#wp85042">Chapter
                            About This Tutorial, Section About the Examples</a> of J2EE 1.4
                            tutorial. Basically, you set the &quot;j2ee.home&quot; and
                            &quot;j2ee.tutorial.home&quot;
                            properties. (If you encounter build failure later on, it is very
                            likely that you did not set these variables or did not set them
                            correctly.) Examples are as following:
                            <ul>
                                <li>Windows: (Windows: Use forward slash / not
                                    backward slash
                                    \; if you are using backward slash, you have to double it like \\ )
                                    <ul>
                                        <li>
                                            j2ee.home=<span style="font-weight: bold;">c:\\Sun\\AppServer
                                            </span> or <span style="font-weight: bold;">
                                            c:/Sun/AppServer</span>
                                        </li>
                                        <li>
                                            j2ee.tutorial.home=<span style="font-weight: bold;">c:\\j2eetutorial14</span> or <span
                                                style="font-weight: bold;">
                                            c:/j2eetutorial14</span>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li>
                                    Linux/Solaris:
                                    <ul>
                                        <li>
                                            j2ee.home=<span style="font-weight: bold;">$HOME/SUNWappserver</span>
                                        </li>
                                        <li>
                                            j2ee.tutorial.home=<span
                                                style="font-weight: bold;">$HOME/j2eetutorial14</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Set the admin user's password in
                            <code>&lt;j2ee1.4tutorial_install&gt;/j2eetutorial14/examples/common/admin-password.txt</code>
                            as described under <a href="http://java.sun.com/j2ee/1.4/docs/tutorial/doc/About.html#wp85042">Chapter
                            About This Tutorial, Section About the Examples</a> of J2EE 1.4
                            tutorial. Examples are as following:
                            <ul>
                                <li>
                                    AS_ADMIN_PASSWORD=<span
                                        style="font-weight: bold;">adminadmin</span> (or whatever
                                    password you set when you install J2EE 1.4 SDK)
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>
            </ol>
            
            <p><a href="#Exercise_1">Go on to next exercise</a></p>
        </div>
    </body>
</html>