<html>
    <head></head>
    <body>
        <div class="j1holcontents">
            
            <h1><a name="Exercise_3"></a>Exercise 3: Something</h1>
            
            <div class="j1holduration xbig">Expected duration: 45 minutes</div>
            
            <p class="j1holheader">Introduction:</p>
            
            <p>
                In this exercise, you learn
                the internal architecture of the "guessNumber" application by following
                step-by-step development process.&nbsp; You can follow this development
                process to build your own JSF application later on.
            </p>
            
            <p class="j1holheader">Steps to follow:</p>
            
            <ol class="j1hollist">
                <li>TBD</li>
            </ol>
            
            <p class="j1holheader">Summary:</p>
            
            <p>TBD</p>
            
            <p><a href="#Solution_3">Go to solution</a></p>
            
            <p><a href="#Summary">Go on to summary</a></p>
        </div>
    </body>
</html>