<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
    <persistence-unit name="default" transaction-type="RESOURCE_LOCAL">
        <provider>oracle.toplink.essentials.ejb.cmp3.EntityManagerFactoryProvider</provider>
        <class>oracle.toplink.essentials.testing.models.cmp3.advanced.Address</class>
        <class>oracle.toplink.essentials.testing.models.cmp3.advanced.Employee</class>
        <class>oracle.toplink.essentials.testing.models.cmp3.advanced.EmploymentPeriod</class>
        <class>oracle.toplink.essentials.testing.models.cmp3.advanced.LargeProject</class>
        <class>oracle.toplink.essentials.testing.models.cmp3.advanced.PhoneNumber</class>
        <class>oracle.toplink.essentials.testing.models.cmp3.advanced.Project</class> 
        <class>oracle.toplink.essentials.testing.models.cmp3.advanced.SmallProject</class> 
        <properties>
            <property name="toplink.jdbc.driver" value="org.apache.derby.jdbc.ClientDriver"/>
            <property name="toplink.jdbc.url" value="jdbc:derby://localhost:1527/testdb;retrieveMessagesFromServerOnGetMessage=true;"/>
            <property name="toplink.jdbc.user" value="dbuser"/>
            <property name="toplink.jdbc.password" value="dbpassword"/>
            <property name="toplink.logging.level" value="INFO"/>
            <property name="toplink.ddl-generation" value="drop-and-create-tables"/>
        </properties>
    </persistence-unit>
</persistence>
