/*
 * Copyright 2004-2005 Sun Microsystems, Inc.  All rights reserved.
 * Use is subject to license terms.
 */

b.cBold
{
  font-weight: bold
}
span.cBookTitle
{
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-weight: bold
}
span.cCode
{
  font-family: Courier New, Courier, mono;
  font-size: 90%
}
span.cCodeEmphasis
{
  font-family: Courier New, Courier, mono;
  font-size: 90%;
  font-style: italic
}
span.cCodeStrong
{
  font-family: Courier New, Courier, mono;
  font-size: 90%;
  font-weight: bold
}
em.cEmphasis
{
  font-style: italic
}
span.cGlossaryTerm
{
  font-weight: bold
}
span.cGray
{
  color: #BBBBBB
}
span.cHeadRunIn
{
  font-weight: bold
}
b.cLeadIn2para
{
  font-weight: bold
}
span.cManRef
{
  font-family: Courier New, Courier, mono;
  font-size: 90%
}
b.cStrong
{
  font-weight: bold
}
b.cStrongItalic
{
  font-style: italic;
  font-weight: bold
}
sub.cSubscript
{
  font-size: 80%;
  vertical-align: sub
}
sup.cSuperscript
{
  font-size: 80%;
  vertical-align: super
}
span.cTitle
{
  font-style: italic
}
u.cUnderline
{
  text-decoration: underline
}
i.cVariable
{
  font-style: italic
}

p.pAnchor
{
  text-align: left
}
p.pBody
{
  text-align: left
}
p.pBodyRelative
{
  text-align: left
}
p.pBookTitle
{
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  text-align: right
}
p.pCaption
{
  font-weight: bold;
  text-align: left
}
p.pCaptionIndent
{
  font-weight: bold;
  text-align: left
}
p.pCaution
{
  font-weight: bold;
  text-align: left
}
div.pCellBody
{
  text-align: left
}
div.pCellHeading
{
  font-family: Helvetica, Arial, Verdana, sans-se;
  font-size: 11pt;
  font-weight: bold;
  text-align: center
}
h2.pChapNumber
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  text-align: left
}
h2.pChapTitle
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  text-align: left
}
h2.pChapTitleC
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 20pt;
  text-align: left
}
p.pCodeline
{
  font-family: Courier New, Courier, mono;
  font-size: 90%;
  text-align: left
}
p.pCodelineIndent
{
  font-family: Courier New, Courier, mono;
  font-size: 90%;
  text-align: left
}
h2.pContentsTitle
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 16pt;
  text-align: left
}
p.pFooter
{
  font-family: Helvetica, sans-serif;
  font-size: 9pt;
  text-align: left
}
p.pGlossaryTerm
{
  font-weight: normal;
  text-align: left
}
h3.pGroupTitlesIX
{
  color: #003366;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: left
}
h2.pHeading1
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  text-align: left
}
h3.pHeading2
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  text-align: left
}
h4.pHeading3
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  text-align: left
}
h5.pHeading4
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  margin-bottom: -4pt;
  text-align: left
}
p.pIndented1
{
  margin-left: 2.5em;
  text-align: left
}
p.pIndented2
{
  margin-left: 5em;
  text-align: left
}
p.pIndented3
{
  margin-left: 7.5em;
  text-align: left
}
p.pIndented4
{
  margin-left: 10em;
  text-align: left
}
p.pIndented5
{
  margin-left: 12.5em;
  text-align: left
}
p.pIndentedRelative
{
  margin-left: 2.5em;
  text-align: left
}
p.pLevel1IX
{
  margin-left: 2.5em;
  text-align: left
}
p.pLevel2IX
{
  margin-left: 5em;
  text-align: left
}
p.pLevel3IX
{
  margin-left: 7.5em;
  text-align: left
}
p.pLevel4IX
{
  margin-left: 10em;
  text-align: left
}
p.pLevel5IX
{
  margin-left: 12.5em;
  text-align: left
}
p.pNavigation
{
  color: #D12124;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: left
}
h2.pNewHTMLPage
{
  color: #003366;
  font-size: 200%;
  font-weight: bold;
  text-align: left
}
p.pNote
{
  font-weight: bold;
  text-align: left
}
span.pNumTOC
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: left
}
p.pParagraph
{
  text-align: left
}
p.pParaIndent1
{
  text-align: left
}
p.pParaIndent2
{
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pParaIndent3
{
  text-align: left
}
p.pPartNumber
{
  text-align: left
}
p.pPartNumText
{
  text-align: left
}
div.pPreformatted
{
  font-family: Courier New, Courier, mono;
  font-size: 90%;
  text-align: left
}
div.pPreformattedRelative
{
  font-family: Courier New, Courier, mono;
  font-size: 90%;
  text-align: left
}
blockquote.pQuotation
{
  font-style: italic;
  margin-left: 2.5em;
  text-align: left
}
h2.pRefHead1
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 16pt;
  font-weight: bold;
  text-align: left
}
h3.pRefHead2
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  text-align: left
}
h4.pRefHeader
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: -4pt;
  text-align: left
}
p.pRunInHead
{
  text-align: left
}
p.pRunInText
{
  text-align: left
}
p.pScreenText
{
  font-family: Courier New, Courier, mono;
  font-size: 90%;
  text-align: left
}
div.pSmartList1
{
  text-align: left
}
div.pSmartList2
{
  text-align: left
}
div.pSmartList3
{
  text-align: left
}
div.pSmartList4
{
  text-align: left
}
div.pSmartList5
{
  text-align: left
}
p.pStepParaI1
{
  text-align: left
}
p.pStepParaI2
{
  text-align: left
}
p.pStepParaI3
{
  text-align: left
}
p.pTableCaption
{
  text-align: left
}
p.pTableCaptionA
{
  text-align: left
}
p.pTableCaptionP
{
  text-align: left
}
p.pTableCaptionWide
{
  text-align: left
}
p.pTableCaptionWideA
{
  text-align: left
}
p.pTableCaptionWideP
{
  text-align: left
}
p.pTableFootnote
{
  font-size: 11pt;
  text-align: left
}
p.pTableHead
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  text-align: left
}
p.pTableText
{
  text-align: left
}
p.pTableTextRight
{
  text-align: right
}
div.pTableTitle
{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 11pt;
  text-align: left
}
h2.pTitle
{
  color: #003366;
  font-weight: bold;
  text-align: left
}
div.pTOC1
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: left
}
div.pTOC2
{
  margin-left: 2.5em;
  text-align: left
}
div.pTOC3
{
  margin-left: 5em;
  text-align: left
}
div.pTOC4
{
  margin-left: 7.5em;
  text-align: left
}
div.pTOC5
{
  margin-left: 10em;
  text-align: left
}
p.pTOCChapTitle
{
  font-weight: bold;
  text-align: left
}

