<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
      <servlet-name>BVIntegrationTestServlet</servlet-name>
      <servlet-class>integration_test_servlet.BVIntegrationTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BVIntegrationTestServlet</servlet-name>
        <url-pattern>/test/*</url-pattern>
    </servlet-mapping>
    
</web-app>
