<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" metadata-complete="true" version="3.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
  <servlet>
    <servlet-class>test.ServletTest</servlet-class>
    <load-on-startup>-1</load-on-startup>
    <enabled>true</enabled>
    <async-supported>false</async-supported>
  </servlet>
  <security-role>
    <role-name>staff</role-name>
  </security-role>
  <ejb-ref>
    <ejb-ref-name>test.ServletTest/sful1</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <remote>test.ejb.stateful.SFHello</remote>
    <injection-target>
      <injection-target-class>test.ServletTest</injection-target-class>
      <injection-target-name>sful1</injection-target-name>
    </injection-target>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/sfhello</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <remote>test.ejb.stateful.SFHello</remote>
    <injection-target>
      <injection-target-class>test.ServletTest</injection-target-class>
      <injection-target-name>sful2</injection-target-name>
    </injection-target>
  </ejb-ref>
  <post-construct>
    <lifecycle-callback-class>test.ServletTest</lifecycle-callback-class>
    <lifecycle-callback-method>preconstruct</lifecycle-callback-method>
  </post-construct>
  <pre-destroy>
    <lifecycle-callback-class>test.ServletTest</lifecycle-callback-class>
    <lifecycle-callback-method>predestroy</lifecycle-callback-method>
  </pre-destroy>
  <session-config/>
</web-app>
