/* ###########################################################################

# SUN ADVANCED.CSS v2.4 -- STANDARD EDITION #

COPYRIGHT SUN MICROSYSTEMS INC.

IF YOU WISH TO ADD TO OR EDIT THIS CSS CONTACT webdesign -at- sun.com FIRST!

NOTE: IF THIS FILE RESIDES ON ANY PLACE OTHER THAN /css YOU *MUST*
CHANGE ALL REFERENCES BELOW TO REFLECT THE APPROPRIATE DIRECTORY.

########################################################################### */

/* forms */
input.buttonblue,input.buttonred{cursor:hand;color:#FFF;font-weight:bold;font-size:11px;padding:2px 1px;margin:0px;white-space:nowrap}
input.buttonred{background:url("/css/bg_sunorange.gif") repeat-x left top #E76F00;border-right:1px solid #C06600;border-bottom:1px solid #C06600;border-left:1px solid #FAE2CC;border-top:1px solid #FAE2CC}
input.buttonblue{background:url("/css/bg_sunblue.gif") repeat-x 0px -10px #304C60;border-right:1px solid #304C60;border-bottom:1px solid #304C60;border-left:1px solid #BACDD9;border-top:1px solid #BACDD9}
input.error, select.error, textarea.error{border:2px solid;background:#FEE;border-top-color:#C00;border-left-color:#C00;border-right-color:#F00;border-bottom-color:#F00}
input.medium{width:120px}
input.mediumlarge,select.rightmodule{width:130px}
input.large{width:200px}

/* hr */
hr.light{background:#E3E3E3;color:#E3E3E3;height:2px;padding:0px;border:0px}
hr{background:#333;color:#333;height:2px;padding:0px;border:0px}
.pc0v5 hr,.col1 hr.light,.col2 hr.light{background:#CCC;color:#CCC;height:2px;padding:0px;border-left:0px;border-right:0px;border-top:0px;border-bottom:1px #FFF solid;margin-bottom:10px}
td.grey3 span.sp5{line-height:2px;font-size:2px !important}

/* glabal classes */
div.bluearrows,span.bluearrows{background:url("/css/ar_dbl_blue.gif") no-repeat top left;padding-left:10px}
ul.bluearrows li{margin:0px;padding:0px 0px 4px 10px;list-style:none;background:url("/css/ar_dbl_blue.gif") no-repeat left top}
ul.bluearrows{margin:0px;padding:0px}

/* a0 */
body.a0v0{margin:0px auto;width:800px;padding:0px}
body.a0v1{width:100%}

/* a1 */
.a1{margin:0px 22px 0px 19px}
.a1 div{width:100%}
.a1 table{width:100%;margin:3px 0px;background:#fff}
.toolbarlinks a,.selectorlinks span{border-right:1px solid #A3B8CB;padding:0px 5px 0px 2px;font-size:11px}
.toolbarlinks a.lastlink,.selectorlinks span.lastlink{border-right:1px solid #fff;padding:0px 3px 0px 2px;font-size:11px}
.toolbarlinks a.dividelink{border-right:1px solid #fff;padding-right:14px;font-size:11px}
.siteid span,.siteid a,.selectorlinks span a,.selectorlinks span.lastlink a{font-size:11px}
.siteid span{padding:0px 2px 0px 3px}
.siteid a{border-left:1px solid #A3B8CB;padding:0px 2px 0px 6px}

/* a2 */
.flymenus{margin:0px 20px 20px 20px;visibility:hidden;position:absolute;left:0px;top:0px;z-index:30}
.flymenus a:visited,.flymenus a:link,.flymenus{color:#fff}
.menulinks,.menulink1{padding:3px 10px;margin:0px;z-index:33}
.menulink1{border-top:#35556B solid 1px;margin-top:4px}
.menulinks{border-top:#A8CCD9 solid 1px}
.menulinks:hover,.menulink1:hover{cursor:pointer}
.firstlink{border-top:none}
.navlinks{white-space:nowrap}
.navlinks div,.flybg{padding:0px}
td.navlinks a:hover{text-decoration:underline}
td.navlinks a:focus,#searchbttn:focus{border:#fff dotted 1px}
.a2 td.navlinks{padding:0px 8px 0px 8px}
.a2topiclinks,.a0v1 #offdiv{margin:0px;padding:0px}
.a2 td.navlinks a,.a2 td.navlinks a:visited{color:#fff;font-weight:bold}
.a2{background:#35556B url("/css/a2_bg_logo.gif");margin:0px 10px;height:60px;min-width:780px}
.a2 div.cornerTL{width:100%;height:60px;background:url("/css/a2_corner_tl.gif") no-repeat top left}
.a2 div.cornerTR{width:100%;height:60px;background:url("/css/a2_corner_tr.gif") no-repeat top right}
.a2	div.cornerBL{width:100%;height:60px;background:url("/css/a2_corner_bl.gif") no-repeat bottom left}
.a2 div.cornerBR{width:100%;height:60px;background:url("/css/a2_corner_br.gif") no-repeat bottom right}
.g9 select,.a2search select{background:#A3B8CB;width:150px;padding:0px;border-left:#1A242C solid 2px;border-top:#1A242C solid 2px;border-right:#BCC9D4 solid 2px;border-bottom:#BCC9D4 solid 2px}
.a2search{float:right;background-color:transparent;text-align:right}
.a2search:first-child input#searchbttn{position:relative;top:5px;margin-bottom:0px}
.menucorners td.cornerBL{width:8px;background:url("/css/a2_menu_corner_l.gif") no-repeat top left}
.menucorners td.cornerBR{width:8px;background:url("/css/a2_menu_corner_r.gif") no-repeat top right}
.a2 .cornerTL,.a2 .cornerTR,.a2 .cornerBL,.a2 .cornerBR,.a2table tr td.sunlogo,td.a2links,.a2search,td.a2title{background-color:transparent}
#searchfield{background:#A3B8CB;width:100px;padding:0px;border-left:#1A242C solid 2px;border-top:#1A242C solid 2px;border-right:#BCC9D4 solid 2px;border-bottom:#BCC9D4 solid 2px}
#searchbttn{margin-bottom:-3px}/* ie-pc */
#a2v1 td.navlinks,#a2v2 td.navlinks,#a2v3 td.navlinks,#a2v5 td.navlinks{padding:4px 8px 7px 8px}
#a2v0 .navlinks div,#a2v4 .navlinks div{padding:7px 0px 20px 0px}
#a2v1 .a2topiclinks td,#a2v2 .a2topiclinks td,#a2v3 .a2topiclinks td,#a2v5 .a2topiclinks td{vertical-align:bottom}
#a2v0 .a2search,#a2v2 .a2search,#a2v6 .a2search{padding:16px 10px 0px 10px}
#a2v1 .a2search,#a2v3 .a2search{padding:2px 10px 0px 10px}
#offdiv{width:770px;visibility:hidden;position:absolute;top:100px;z-index:25;margin:0px auto;padding:0px}
#a2v7{min-width:120px}
#searchbttn:focus{background:#fff}

/* d1 d2 */
.d1,.d2{margin-bottom:10px}
.d1,.d2,.d1 .dkgrey1,.d1 .dkgrey1 .white1,.d2 .dkgrey1,.d2 .dkgrey1 .white1{background:#EEE}
.d1 td.grey3 span.sp5{border-bottom:#FFF solid 1px;display:block;height:1px;overflow:hidden}
.d1 .grey1,.d2 .grey1{background:transparent}
.d1 table.vatop,.d2 table.vatop,.d1 h5,.d2 h5{margin:0px 0px 0px 5px}
.d2 table.dkgrey1 table.vatop{margin:0px}
tr td.tablecaption,tr td.tablecaption2,tr td.tablecaption3{padding:0px;vertical-align:top}
table.dkgrey1 table tr td.tablecaption2{background:url("/css/bg_sunblue.gif") repeat-x}
table.dkgrey1 table tr td.tablecaption2 div.headerpadding{background:transparent}
table.dkgrey1 table.white1 tr td div.pad10{padding:0px 10px}
td.tablecaption2 div.headerpadding{background:url("/css/a2_corner_tr.gif") no-repeat right top;padding:6px 8px 4px 15px}
tr td.tablecaption2,table tr.dkgrey td.tablecaption2{background:url("/css/bg_titlebar.gif") no-repeat left top}
td.tablecaption2 + td img[width="10"]{width:10px;height:24px;background:#FFF}
td.tablecaption2 + td.black{background:#fff;color:#000}
table.dkgrey1 table tr td.tablecaption3{background:url("/css/bg_sunblue.gif")}
table.dkgrey1 table tr td.tablecaption3 div.headerpadding{background:transparent}
table.dkgrey1 table.white1 tr td div.pad10{padding:0px 10px}
td.tablecaption3 div.headerpadding,td.tablecaption3 div.headerpadding2{background:url("/css/a2_corner_tr.gif") no-repeat right top;padding:6px 8px 4px 15px}
tr td.tablecaption3,table tr.dkgrey td.tablecaption3{background:url("/css/bg_titlebar.gif") no-repeat left top}
table.dkgrey1 table tr td.tablecaption{background:url("/css/bg_sunblue.gif")}
table.dkgrey1 table tr td.tablecaption div.headerpadding{background:transparent}
table.dkgrey1 table.white1 tr td div.pad10{padding:0px 10px}
td.tablecaption div.headerpadding{background:url("/css/a2_corner_tr.gif") no-repeat right top;padding:6px 8px 4px 15px}
tr td.tablecaption,table tr.dkgrey td.tablecaption{background:url("/css/bg_titlebar.gif") no-repeat left top}
td.medgrey div.headerpadding{padding:4px 8px 4px 15px}

/* g9 */
div.g9{background:url("/css/bg_sunblue.gif") repeat-x left top #5382A1;margin:5px 10px 15px 10px}
.g9 div.cornerTL{width:100%;background:url("/css/a2_corner_tl.gif") no-repeat top left}
.g9 div.cornerTR{width:100%;background:url("/css/a2_corner_tr.gif") no-repeat top right}
.g9	div.cornerBL{width:100%;background:url("/css/a2_corner_bl.gif") no-repeat bottom left}
.g9 div.cornerBR{width:100%;background:url("/css/a2_corner_br.gif") no-repeat bottom right}
.g9 table{height:40px}
.g9 td.ques div{color:#FFF;padding:3px 5px 3px 20px}
.g9 td.answ div{padding:3px 15px 3px 5px}
.g9 td.sbmt div{margin:3px 20px 3px 5px}

/* g18 */
.g18v0 .col1,.g18v1 .col1{padding-right:11px}
.g18v0 .col2,.g18v1 .col2{padding-left:11px}
.g18v0 .col2{width:50%}
.g18v1 .col2{width:60%}

/* d7 */
.d7 div.cornerBL{background:url("generic_bl.gif") no-repeat bottom left #EEE;border-top:none}
.d7 div.cornerBR{background:url("generic_br.gif") no-repeat bottom right;padding:10px 6px}
.d7v0{border-bottom:#507c9a solid 2px}
.d7v0 .skip{height:0px;width:0px;overflow:hidden}
.d7v0 td.suntab div{border-bottom:#FFF solid 2px;border-right:#FFF solid 2px}
.d7v0 td.suntabactive div{border-right:#FFF solid 2px}
.d7v1 div.suntabsubrow{padding:5px 7px 5px 4px}
.d7v1 span{border-right:#FFF solid 1px;padding-right:5px;padding-left:3px}
.d7v1 span.lastitem{border-right:#507c9a solid 0px;padding-right:5px;padding-left:3px}
.d7v2{border-bottom:#507c9a solid 2px;border-left:#507c9a solid 2px;border-right:#507c9a solid 2px;padding:6px 6px 10px 6px}
.d7v4{background:#FFF;margin:0px;padding:0px}
.d7v6{padding:3px 0px}
.d7v7{padding:0px 0px 4px 0px;margin-bottom:4px;border-bottom:#CCC 2px solid;color:#696969}
.d7v7 b{color:#E76F00}
.d7v7 div{padding-top:3px}
.d7v8 b{color:#FFF}
.d7v8 .suntabsubsubrow div{padding:3px 0px 3px 10px}
.d7v8 .suntabsubsubrow form{padding:0px 0px 4px 0px;display:block}
.d7v8 a:visited{color:#3E6B8A}
.d7v8{background:#B8CDDE;padding:6px 6px 6px 5px}
.d7v8 span{border-right:#507c9a solid 1px;padding-right:5px;padding-left:3px}
.d7v8 span.lastitem,.d7v8 span.remove{border-right:0px;padding-right:5px;padding-left:3px}
.d7v9 div.cornerBR{padding:10px 22px 22px 22px}
.d7v9 .intro,.pc1 .intro{font-size:13px;color:#666;font-weight:bold;margin-top:10px}
td.suntabactive,table.suntabbg,td.suntabbg,th.suntabbg,tr.suntabbg td,tr.suntabbg th,table tr td.suntabbg,table tr th.suntabbg{background:#507c9a}
td.suntabactive{background:#507c9a url("/css/bg_titlebar.gif") no-repeat left top;border-right:1px solid #FFF;padding:0px}
td.suntabactive div{background:url("/css/a2_corner_tr.gif") no-repeat right top;padding:9px 7px 5px 7px}
td.suntab{background:#CCDAE3 url("/css/d7_tab_bg.gif") repeat-x;border-right:1px solid #FFF;border-top:3px solid #FFF}
td.suntab div{background:url("/css/corner_navblue_tr.gif") no-repeat right top;padding:9px 7px 5px 7px}
td.suntab div{padding:6px 7px 3px 7px}
td.suntab div a:visited{color:#35556B}
div.suntabsubrow{padding:9px 7px 5px 7px;background:#507c9a}
div.suntabsubrow,div.suntabsubrow span,td.suntabactive div{font-weight:bold;color:#FFF}
div.suntabsubrow a{font-weight:normal;color:#CCDAE3}

/* e2 */
.e2{background:url("/css/bg_navgreen.gif") repeat-x left bottom #C7CE46;margin-bottom:10px}
.e2 table.navblue{background:url("/css/generic_tr.gif") no-repeat top right}
.e2 table.navblue tr td table{margin:8px 6px 8px 6px}
.e2 table.navblue tr td table:first-child,.e2 table.navblue tr td table{background:transparent}
* html .e2 table.navblue tr td table{background:transparent;border-top:0px}
.e2 table.navblue .navtitle,.e2 table.navblue .rightarrowblue,.e2 table.navblue table:first-child,.e2 span.rightarrowblue{padding-left:0px}

/* e5 */
.e5{background:url("/css/bg_navgreen.gif") repeat-x left bottom #C1C933;margin-bottom:10px}
.e5 table.blue1,.e5 table.white1{background:transparent}
.e5 table.blue1{background:url("/css/generic_tr.gif") no-repeat top right;border-top:none}
.e5 table.white1{background:url("/css/generic_tl.gif") no-repeat top left;padding:0px}
.e5 table.blue1 table.white1{border:none}

/* e8 */
.e8v0{background:url("/css/bg_sunorange.gif") repeat-x left bottom #E76F00;margin-bottom:10px;width:170px}
.e8v1{background:url("/css/bg_dksunblue.gif") repeat-x left bottom #35556B;margin-bottom:10px;width:170px}
.e8v0 div.cornerBL,.e8v1 div.cornerBL{width:170px;height:8px;background:url("/css/generic_bl.gif") no-repeat bottom left}
.e8v0 div.cornerBR,.e8v1 div.cornerBR{width:170px;height:8px;background:url("/css/generic_br.gif") no-repeat bottom right}
.e8v0 div.title{color:#FFF;font-weight:bold;padding:8px 8px 2px 8px}
.e8v0 div.copy{color:#000;padding:2px 8px 4px 8px}
.e8v1 div.copy a:link,.e8v1 div.copy a:visited{color:#FFF}
.e8v1 div.title{color:#ED9B09;font-weight:bold;padding:8px 8px 2px 8px}
.e8v1 div.copy{color:#FFF;padding:2px 8px 4px 8px}

/* e9 */
.e9v0{background:url("/css/bg_sunorange.gif") repeat-x left bottom #E76F00;margin-bottom:10px;width:170px}
.e9v1{background:url("/css/bg_dksunblue.gif") repeat-x left bottom #35556B;margin-bottom:10px;width:170px}
.e9 div.cornerBL{width:170px;height:8px;background:url("/css/generic_bl.gif") no-repeat bottom left}
.e9 div.cornerBR{width:170px;height:8px;background:url("/css/generic_br.gif") no-repeat bottom right}
.e9 div.cornerTL{width:170px;height:8px;background:url("/css/generic_tl.gif") no-repeat top left}
.e9 div.cornerTR{width:170px;height:8px;background:url("/css/generic_tr.gif") no-repeat top right}
.e9v0 div.title{color:#FFF;font-weight:bold;padding:2px 8px 2px 8px}
.e9v0 div.copy{color:#000;padding:2px 8px 2px 8px}
.e9v1 div.copy a:link,.e9v1 div.copy a:visited{color:#FFF}
.e9v1 div.title{color:#ED9B09;font-weight:bold;padding:2px 8px 2px 8px}
.e9v1 div.copy{color:#FFF;padding:2px 8px 4px 8px}

/* e12 */
.e12v0{margin-bottom:10px}

/* e13 */
.e13{background-color:#a3b8cb;margin-bottom:10px;width:170px}
.e13 div.cornerBL{height:8px;background:url("/css/generic_bl.gif") no-repeat bottom left;margin-top:5px}
.e13 div.cornerBR{height:8px;background:url("/css/generic_br.gif") no-repeat bottom right}
.e13 div.cornerTL{height:8px;background:url("/css/generic_tl.gif") no-repeat top left}
.e13 div.cornerTR{height:8px;background:url("/css/generic_tr.gif") no-repeat top right}
.e13 div.pad{margin:0px 10px}
.e13 h3{margin:0px;padding:0px;float:left}
.e13 img.popup{margin:0;padding:0;float:right}
.e13 img{margin:6px 0px 0px 0px;display:block}

/* e14 */
.e14{background:url("/css/bg_lightyellow.gif") repeat-x left bottom #F9DD9C;margin-bottom:10px;width:170px}
.e14 div.cornerBL{height:8px;background:url("/css/generic_bl.gif") no-repeat bottom left;margin-top:5px}
.e14 div.cornerBR{height:8px;background:url("/css/generic_br.gif") no-repeat bottom right}
.e14 div.cornerTL{height:8px;background:url("/css/generic_tl.gif") no-repeat top left}
.e14 div.cornerTR{height:8px;background:url("/css/generic_tr.gif") no-repeat top right}
.e14 div.pad{padding:0px 8px 5px 10px}
.e14 div.small{font-weight:bold;margin:0px 0px 5px 0px;color:#434343;line-height:1.4em}
.e14v1 a{font-weight:bold}
.e14v1 div.bluearrows{margin:5px 0px 3px 0px}

/* e15 */
.e15{background:url("/css/bg_navblue.gif") repeat-x bottom left #DDE6EC;margin-bottom:10px;width:170px}
.e15 div.cornerTL{height:8px;background:url("/css/generic_tl.gif") no-repeat top left}
.e15 div.cornerTR{height:8px;background:url("/css/generic_tr.gif") no-repeat top right}
.e15 div.pad{padding:0px 8px 3px 10px}
.e15 h5{margin-top:7px;color:#444}
.e15 div.bluearrows{margin:5px 0px 3px 0px}
.e15v1 a{font-weight:bold}

/* g14 */
.g14v8{background:url("/css/ar_lg_orange.gif") no-repeat top left;padding-left:18px}
.g14v8 h5{margin:0px;padding-top:1px}

/* g17 */
.g17{padding:10px}
.col1 .g17,.col2 .g17{padding:0px}
.g17 p{color:#666}

/* l0 */
.l0v0,.l0v1{margin:5px 10px 0px 10px;text-align:center}
.l0{padding:0px;width:780px;height:170px;position:relative;left:0px;top:0px;margin-left:auto;margin-right:auto;margin-top:10px}
.l0items img {display:block;width:780px;height:170px}
.l0items{position:absolute;top:0px;left:0px;z-index:2;visibility:hidden;opacity:.1;filter:alpha(opacity=1);-moz-opacity:.1}
#l0item1{visibility:visible}

/* l1 */
.l1v0{height:80px}
.l1{background:url("/css/bg_white_to_grey.gif") repeat-x left top #fff}
.l1 div.cornerBR{width:100%;background:url("/css/generic_br.gif") no-repeat bottom right}
.l1 a.morelink{font-weight:bold;white-space:nowrap}
.l1 a.title{font-weight:bold;font-size:14px}
.l1 div.copy{padding-top:4px}
.l1 div.plft{background:url("/css/ar_lg_orange.gif") no-repeat top left;padding-bottom:0px}
.l1 .l1v0{color:#000}
.l1 a:visited,.l1 a:link{color:#3E6B8A}

/* l2 */
.l2 .l2img{float:left;height:88px;width:100px}
.l2 .l2title{padding:10px 0px 8px 4px;font-size:15px;font-weight:bold}
.l2 a.morelink{font-weight:bold;white-space:nowrap}
.l2 a.title{font-weight:bold;font-size:14px}
.l2 div.copy{padding-top:4px}
.l2 div.plft{background:url("/css/ar_lg_orange.gif") no-repeat top left;padding-left:18px;margin-left:106px}
.l2v0{margin-top:15px}

/* l3 */
.l3{margin-top:15px}
.l3 .l3img{float:left;height:88px;width:100px}
.l3 a.morelink{font-weight:bold;white-space:nowrap}
.l3 div.copy{padding-top:4px}
.l3 div.plft{margin-left:113px}
.l3 h5{margin-top:0px}

/* pc0 */
.pc0{margin-bottom:16px}
.pc0 h3{margin-bottom:5px}
.pc0 p{margin-bottom:4px}
.pc0 .bluearrows,.pc0 .pad{margin-top:5px}
.pc0v0 ul li{margin:0px;padding:0px 0px 6px 10px;list-style:none;background: url("/css/ul_bullet.gif") no-repeat 0px .4em}
.pc0v0 ul{margin:0px;padding:0px}
.pc0v0 h3{margin-bottom:6px}
.pc0v1 img{margin:6px 0px}
.pc0v10 p{margin-top:6px}
.pc0v10 img{margin:0px 8px 8px 0px;padding:0px;float:left}
.pc0v5 table tr td img{margin:0px 15px 0px 10px}
.pc0v8 img{display:block;margin:0px;padding:0px}
.pc0v9 span.bluearrows{padding-right:5px}
.pc0v9 {margin-left:90px}

.vidthumb{text-align:center;width:124px;margin-top:8px}
.vidthumb div{padding:0px 5px;background:#a5b8c9}
.vidthumb img,.vidthumb a{display:block;margin:0px;padding:0px}

/* pc1 */
.pc1 div.cornerBL{background:url("/css/generic_bl.gif") no-repeat bottom left #EEE;border-top:none}
.pc1 div.cornerBR{background:url("/css/generic_br.gif") no-repeat bottom right;padding:10px 22px 22px 22px}
.pc1 div.cornerTL{background:url("/css/a2_corner_tl.gif") no-repeat top left}
.pc1 div.cornerTR{background:url("/css/a2_corner_tr.gif") no-repeat top right;padding:5px}
.pc1 .title{color:#FFF;padding-left:17px;font-weight:bold}
.pc1v0{background:url("/css/bg_sunblue.gif") repeat-x top left}

/* pc2 */
.pc2,.pc2 ul{margin:0px;padding:0px}
.pc2 table{margin:0px;padding:0px;background-color:#fff;text-align:left;clear:both}
.pc2 th{margin:0px;padding:8px 0px 8px 13px;background-color:#a3b8cb;color:#fff;font-weight:bold;vertical-align:top}
.pc2 td.tcell,.pc2 td.intro{margin:0px;padding:8px 13px 8px 13px;font-weight:bold;vertical-align:top;color:#000}
.pc2 td.tcell{width:220px}
.pc2 td.dcell{margin:0px;padding:8px 16px 8px 0px;font-weight:normal;vertical-align:top;width:335px}
.pc2 hr{margin:0px 13px 0px 13px;padding:0px;color:#c5d5a9;background-color:#c5d5a9;border-bottom:1px solid #c5d5a9;border-top:0px;height:1px !important}

/* pn0 */
div.pn0,div.pn0 p{color:#000}
.pn0v6 a{padding:0px 0px 0px 20px}
.pn0v6 div a{padding:0px}
.pn0v0,.pn0v1,.pn0v2,.pn0v3,.pn0v4 div,.pn0v7 div,.pn0v6 div,.pn0v5,.pn0v8{padding:1px 0px 0px 20px;background:url("/css/ar_lg_orange.gif") no-repeat top left}
.pn0v0 a,.pn0v1 a,.pn0v2 a,.pn0v3 a,.pn0v8 a,.pn0v4 div,.pn0v5 a.big,.pn0v6 div,.pn0v7 div,.pn0v6 a{display:block;margin-bottom:5px}
.pn0v5 a,.pn0v10 a,.pn0v10 form,.pn0v11 a,.pn0v11 form,.pn0v9 a,.pn0v12 div a,.pn0v13 div a{display:block}
.pn0v11 select,.pn0v10 input[type="text"]{width:65%}
.pn0v11 select,.pn0v11 input,.pn0v11 form{margin-bottom:5px}
.pn0v10 form,.pn0v9 p{padding:0px 0px 10px 0px}
.pn0v2 b{display:block;padding:8px 0px 4px 0px}
.pn0v2 a.big + b{display:block;padding:0px 0px 4px 0px}
.pn0v3 p,.pn0v9 p,.pn0v8 p,.pn0v13 p{margin:4px 0px}
.pn0v10 p.pn0v11 p{margin:8px 0px}
.pn0v5 p{margin:4px 0px 10px 0px}
.pn0 a.big,.pn0v4 a.big,.pn0v6 a.big,.pn0v2 b,.pn0v6 p,.pn0v9 p{font-weight:bold}
.pn0v1,.pn0v2,.pn0v3,.pn0v5,.pn0v7{margin-left:79px}
.pn0v9{margin-left:99px}
.pn0v4{padding-left:79px}
.pn0,.pn0v4,.pn0v6,.pn0v13 div{margin:10px 0px 25px 0px}
.pn0v6 div.seelink{margin-top:15px;background:transparent}
.pn0v12 ul li{list-style-type:none;margin:0px;padding:0px 0px 10px 0px}
.pn0v12 ul{margin:0px}
.pn0v12{margin:10px 0px}
.pn0v12 div{padding:0px 0px 10px 0px}
.pn0v14{text-align:right}
* html .pn0v1,* html .pn0v2,* html .pn0v3,* html .pn0v5,* html .pn0v7.* html .pn0v9{height:85px}
.pn0v1,.pn0v2,.pn0v3,.pn0v5,.pn0v7,.pn0v9{min-height:85px}

/* pn1 */
.pn1{background:url("/css/bg_sunblue.gif") repeat-x top left}
.pn1 div.cornerTL{background:url("/css/a2_corner_tl.gif") no-repeat top left}
.pn1 div.cornerTR{background:url("/css/a2_corner_tr.gif") no-repeat top right;padding:5px}
.pn1 .title{color:#FFF;padding-left:8px;font-weight:bold}
.pn1 .seelink{padding-right:8px;float:right}
.pn1 .seelink a:link,.pn1 .seelink a:visited{color:#FFF;font-weight:bold}

/* pn2 */
.pn2v0{width:100%;background:#EFEFEF;margin:0px 0px 10px 0px}
.pn2v0 td.col1,.pn2v0 td.col2{padding:10px}
.pn2v0 p.intro{margin:10px 0px 20px 0px}
.pn2v0 td.col1{border-right:5px #EFEFEF solid}
.pn2v0 td.col2{border-left:5px #EFEFEF solid}

/* pn3 */
.pn3v0,.pn3v1{margin:0px 0px 10px 0px}
.pn3v0 .col1,.pn3v1 .col1,.pn3v0 .col2{background:#EFEFEF}
.pn3v0 p.intro,.pn3v1 p.intro{margin:10px 0px 20px 0px}
.pn3v0 div.pad,.pn3v1 div.pad{padding:10px}
.pn3v0 td.col1,.pn3v1 td.col1{border-right:5px #fff solid}
.pn3v0 td.col2{border-left:5px #fff solid}

/* table colors */
table.blue1 tr td{padding:0px}
table.blue1 table.white1{border:#B2BC00 solid 1px}
td.sunblue{background:url("bg_sunblue.gif") repeat-x left top #5382A1;border-top:#fff solid 6px}
td.sunred{background:url("bg_sunorange.gif") repeat-x left bottom #E76F00}
td.sunyellow{background:url("bg_sunyellow.gif") repeat-x left bottom #FFC726}
table tr td.redwidget{background:url("bg_sunorange.gif") repeat-x left top #E76F00}
tr td.tablecaption2 div.headerpadding a,td.tablecaption2{background-color:transparent}

/* navblue fade */
tr.navblue{background:#DDE6EC}
table.navblue .navtitle, table.navblue .rightarrowblue,table.navblue table:first-child{padding-left:8px}
table.navblue .navtitle{color:#666;padding-top:3px}
table.navblue img{padding-left:4px}
table.navblue span.sp10{line-height:2px;font-size:2px !important}
table.navblue table:first-child .rightarrowblue,table.navblue table:first-child img,table.navblue table:first-child .navtitle{padding-left:0px}
table.navblue table:first-child{padding-top:5px}
table.navblue table{margin-left:0px;margin-bottom:10px;padding:0px}
table.navblue td.white1{background:transparent}
table.navblue tr td table tr td{background:transparent;padding:2px 2px 2px 4px}
table.navblue tr td table tr td:first-child{padding:0px}
table.navblue tr td table:first-child{background:url("/css/generic_tr.gif") no-repeat top right;border-top:none}
table.navblue tr td{background:url("/css/generic_tl.gif") no-repeat top left;padding:0px}
table.navblue{background:url("/css/bg_navblue.gif") repeat-x left bottom #DDE6EC}
* html table.navblue tr td table{background:url("/css/generic_tr.gif") no-repeat top right;border-top:#FFF solid 2px}/* ie-xp hack*/

/* navblue look in media */
table.grey6[width="170"]{width:100%}
table.grey6[width="170"] .grey6,table.grey6[width="170"] .white1{background:transparent}
table.grey6[width="170"] b .rightarrowred{font-weight:normal;color:#5382A1}
table.grey6[width="170"] b.smaller{font-weight:normal}
table.grey6[width="170"] span.smaller{color:#666}
table.grey6[width="170"] table.white1[cellpadding="0"] tr td div.headerpadding{background:url("/css/generic_tr.gif") no-repeat top right;border-top:none;padding:14px 8px 10px 8px;font-weight:bold}
table.grey6[width="170"] table.white1[cellpadding="0"]{background:url("/css/generic_tl.gif") no-repeat top left}
table.grey6[width="170"] table.white1[cellpadding="8"]{margin:0px 10px 8px 10px}
table.grey6[width="170"] table.white1[cellpadding="8"] table.vatop tr td{padding-top:2px}
table.grey6[width="170"] tr td{padding:0px}
table.grey6[width="170"]{background:url("/css/bg_navblue.gif") repeat-x left bottom #DDE6EC;width:100%}
table.grey7[width="170"]{background:#FFF;width:100%}
table.grey6[width="170"] .smaller a{font-size:12px}

/* print overwrite */
@media print{
	table.dkgrey1 table tr td.tablecaption2,
	tr td.tablecaption2 div.headerpadding,
	div.a2 div.cornerTL,
	div.a2 div.cornerTR,
	div.a2 div.cornerBL,
	div.a2 div.cornerBR{background:none}
	
	.sunlogo,
	.a2search,
	.a2topiclinks{display:none}
	
	div.a2{height:90px}
}
