/* ###########################################################################

# SUN DEFAULT.CSS v3.2 -- STANDARD EDITION #

COPYRIGHT SUN MICROSYSTEMS INC.

IF YOU WISH TO ADD TO OR EDIT THIS CSS CONTACT webdesign -at- sun.com FIRST!

NOTE: IF THIS FILE RESIDES ON ANY PLACE OTHER THAN /css YOU *MUST*
CHANGE ALL REFERENCES BELOW TO REFLECT THE APPROPRIATE DIRECTORY.

########################################################################### */

@import url("advanced.css");

/* font tag overwrite */
font{font-size:12px !important}

/* fonts */
body,th,td,p,div,span,a,input,select,textarea,ul,ol,dl,h1,h2,h3,h4,h5,h6,li,big,small,b,pre.sunfont,font{font-family:Arial,Helvetica,FreeSans,"Luxi-sans","Nimbus Sans L",sans-serif}
code,kbd,tt,pre,pre *,code *,code a,kbd a,tt a,pre a,code span,kbd span,tt span,pre span,pre b,pre font{font-family:Monaco,Courier,"Courier New"}

/* font sizes */
.smaller,.smaller a,small,.small,small span,.small span,.small a,small a,div.sitelinks,div.sitelinks a,#breadcrumb a,#breadcrumb,.breadcrumb a,.breadcrumb,div.footlinks,div.footlinks a,.a5 a,.a5 span{font-size:11px}
body,th,td,p,div,span,a,ul,ol,dl,li,select,input,textarea,code,kbd,tt,pre,code a,kbd a,tt a,pre a,code span,kbd span,tt span,pre span,h6,h6 a,h6 span{font-size:12px}
td.sectiontitle2,td.sectiontitle2 a,td.sectiontitle2 div,h5,h5 a,h5 span,big,.big,big span,.big span,.big a,big a{font-size:13px}
h4,h4 span,h4 a,td.sectiontitle1,td.sectiontitle1 a,td.sectiontitle1 div,.xbig,.xbig span,.xbig a{font-size:14px}
h3,h3 span,h3 a,.xxbig,.xxbig span,.xxbig a,.xxlarge{font-size:15px}
h1,h2,h1 span,h2 span,h1 a,h2 a{font-size:16px}
div.pagetitle2{font-size:17px}
div.smallpagetitle,div.pagetitle,div.pagetitle code,span.pagetitleblue,div.pagetitlenopad{font-size:21px}
div.pagetitlebig{font-size:36px}

/* generic */
body,th,td,p,h5,h5 a,h6,h6 a,h5 span,h6 span,h1,h2,h3,h1 span,h2 span,h3 span,h1 a,h2 a,h3 a,h4,h4 span,h4 a{color:#000}
code,kbd,tt,pre,code span,kbd span,tt span,pre span{color:#666}
h1,h2,h3,h4,h5,h6{margin:3px 0px 0px 0px;padding:0px;text-decoration:none}
a[name]:hover{text-decoration:none}
a{text-decoration:none}
a:visited,a:visited code{color:#917E9C}
a:link,a.named:visited,div#breadcrumb a:visited,div.breadcrumb a:visited,div.sitelinks a:visited,a code,.e2 table.navblue a:visited,.e5 a:visited,.e8v0 a:visited,.e9v0 a:visited{color:#3E6B8A}
a:hover,b.error,span.error{text-decoration:underline}
dt{font-weight:bold;padding:5px 0px 0px 0px}
ul li{list-style-image:url("ul_bullet.gif")}
form{display:inline}
form,select,input,textarea{margin:0px;padding:0px}
li{margin-left:15px;padding-left:0px}
ul,ul li,ol,ol li{margin-left:15px;padding-left:0px}
h1 + p,h2 + p,h3 + p,h4 + p,h5 + p{margin-top:0px}

/* text styles */
div.pagetitle2,td.sectiontitle1,td.sectiontitle1 a,td.sectiontitle1 div,td.sectiontitle2,td.sectiontitle2 a,td.sectiontitle2 div{font-weight:bold}
div.pagetitle{padding:0px 10px;font-weight:bold;color:#E76F00}
div.smallpagetitle{padding:0px 10px;font-weight:bold;color:#E76F00}
div.resultstitle{padding:0px 10px;font-weight:bold;color:#888}
div.pagetitlenopad,div.pagetitlebig{padding:0px;font-weight:bold;color:#E76F00}
span.pagetitleblue{color:#35556B}
div.navtitle{padding:0px 0px 5px 0px;font-weight:bold}
p.compact{margin:0px}
p.compact2{margin:0px 0px 7px 0px}
span.rightarrowblue{color:#3E6B8A}
span.rightarrowdkblue{color:#35556B}
span.rightarrowred{color:#E76F00}
span.rightarrowwhite{color:#FFF}
span.rightarrowgrey{color:#333}
span.rightarrowyellow{color:#FFC726}
a.redlink,a.redlink:visited,.red,.sunblue .red,.sunyellow .red,b.error,span.error{color:#D12124}
.sunblue a.whitelink,.sunblue a.whitelink:visited,a.whitelink,a.whitelink:visited{color:#FFF}
.sunblue a.yellowlink,.sunblue a.yellowlink:visited{color:#FFD55C}
a.greylink,a.greylink:visited{color:#333}
a.ltgreylink,a.ltgreylink:visited{color:#9A9A9A}
div.resultstitle b,.note{color:#000}
.new{color:#F00}
.new,.note{text-transform:uppercase;font-weight:bold}
.newscap{text-transform:uppercase;color:#000}
.grey1copy{color:#999}
.grey2copy{color:#696969}
.grey3copy{color:#9A9A9A}
.sunbluecopy{color:#584EBF}
.whtcopy{color:#FFF}
.ltgreycopy{color:#888}
.medgreycopy{color:#666}
.dkgreycopy{color:#4D4D4D}
.vdkgreycopy{color:#333}
.highlight{background-color:#FF9}

/* pad & spacer */
.pad0x10,.sitelinks,.pagetitle2{padding:0px 10px}
.padbottom6{padding:0px 0px 6px 0px}
.padtop6{padding:6px 0px 0px 0px}
.pad6{padding:6px}
.pad8{padding:8px}
.pad10{padding:10px}
.pad5x10{padding:5px 10px}
.pad2x8{padding:2px 8px}
.pad2x5{padding:2px 5px}
.pad10x0{padding:10px 0px}
.pad3x0{padding:3px 0px}
.pad0x3{padding:0px 3px}
.pad5x10x5x0{padding:5px 10px 5px 0px}
.pad10x10x10x0{padding:10px 10px 10px 0px}
.pad0x0x0x20{padding:0px 0px 0px 20px}
.pad0x0x0x10{padding:0px 0px 0px 10px}
.pad8x20{padding:8px 20px}
.pad1x10{padding:1px 10px}
.cellpadtop{padding:6px 6px 0px 6px}
.cellpadbottom{padding:0px 6px 6px 6px}
.headerpadding{padding:1px 10px}
.gwpadding1{padding:2px 10px 7px 8px}
.headerpadding2{padding:1px 10px 1px 5px}
.redwidgetpadding{padding:2px 0px 3px 0px}
.sp10{line-height:8px;font-size:8px}
.sp8{line-height:7px;font-size:7px}
.sp5{line-height:5px;font-size:5px}
.sp2{line-height:2px;font-size:2px}

/* table styles */
td.redwidget{color:#FFF;vertical-align:top}
td.redwidget b{color:#FFDE00}
td.redwidget a:link,td.redwidget a:visited{color:#FFF}
td.redwidget a:hover{color:#FBE249;text-decoration:none}
td.tablecaption,th.tablecaption,.tablecaption a,
td.tablecaption2,th.tablecaption2,.tablecaption2 a,
td.tablecaption3,th.tablecaption3,.tablecaption3 a,
td.tablecaption4,th.tablecaption4,.tablecaption4 a,
td.tablecaption5,th.tablecaption5,.tablecaption5 a,
td.tablecaption6,th.tablecaption6,.tablecaption6 a,
td.tablecaption7,th.tablecaption7,.tablecaption7 a{color:#FFF;font-weight:bold}
table[bgcolor="#666699"],
td[bgcolor="#666699"],
table[bgcolor="#666699"] td.tablecaption,
table[bgcolor="#000000"] td.tablecaption,
table.black td.tablecaption,
table.dkblue td.tablecaption,
td.tablecaption,th.tablecaption{background:#35556B}
td.tablecaption2,th.tablecaption2{background:#000}
td.tablecaption3,th.tablecaption3{background:#6579A6}
td.tablecaption4,th.tablecaption4{background:#B3B3B3}
td.tablecaption5,th.tablecaption5{background:#993300}
td.tablecaption6,th.tablecaption6{background:#C00}
td.tablecaption7,th.tablecaption7{background:#A3B8CB}
table[bgcolor="#ccccff"],
td[bgcolor="#ccccff"]{background:#DDE6EC}
td.columncaption,th.columncaption{text-align:left;background:#C3CCD3;font-weight:bold;padding:3px}
td.columncaption2,th.columncaption2{text-align:left;background:#CCC;font-weight:bold}
td.columncaption3,th.columncaption3{color:#FFF;background:#666;font-weight:bold}
td.columncaption4,th.columncaption4{background:#CCC;font-weight:bold}
td.columncaption5,th.columncaption5{background:#CCC}
td.vatop,th.vatop,tr.vatop td,tr.vatop th,table.vatop td,table.vatop th,div.vatop{vertical-align:top}
td.vamiddle,th.vamiddle,tr.vamiddle td,tr.vamiddle th,table.vamiddle td,table.vamiddle th,div.vamiddle{vertical-align:middle}
td.vabottom,th.vabottom,tr.vabottom td,tr.vabottom th,table.vabottom td,table.vabottom th,div.vabottom{vertical-align:bottom}

/* table colors */
.sunred{background:#E76F00}
.sunblue{background:#35556B}
.sunyellow{background:#FFC726}
.sunblue,td.sunblue a{color:#FFF}
td.sunred b,td.sunred div.navtitle{color:#FFF;font-weight:bold}
td.sunred ul,td.sunred ul li{margin-left:7px;padding-left:0px}
td.sunblue li,td.sunblue ul{color:#FFF;list-style-image:url("/css/ic_bullet_white.gif")}
td.sunblue b,td.sunblue div.navtitle{color:#FFD55C}
td.sunred .rightarrowwhite,td.sunred a:link,td.sunred a:visited,td.sunyellow b,td.sunyellow div.navtitle,td.sunyellow a:link,td.sunyellow a:visited{color:#3E6B8A}
td.sunyellow a:hover{color:#594FBF;text-decoration:underline}
table.dkgrey{background:#666}
table.BLACK,table.black{background:#000}
table.blue3{background:#5D7789}
table.dkblue{background:#35556B}
.dkblue span.rightarrowblue{color:#fff}
td.dkblue,th.dkblue,tr.dkblue td,tr.dkblue th,table tr td.dkblue,table tr th.dkblue{background:#35556B;color:#FFF}
td.black,th.black,tr.black td,tr.black th,table tr td.black,table tr th.black{background:#000;color:#FFF}
td.dkgrey,th.dkgrey,tr.dkgrey td,tr.dkgrey th,table tr td.dkgrey,table tr th.dkgrey{background:#666;color:#FFF}
td.blue3,th.blue3,tr.blue3 td,tr.blue3 th,table tr td.blue3,table tr th.blue3{background:#5D7789;color:#FFF}
table.ltgrey,td.ltgrey,th.ltgrey,tr.ltgrey td,tr.ltgrey th,table tr td.ltgrey,table tr th.ltgrey{background:#E5E5E6}
table.vltgrey,td.vltgrey,th.vltgrey,tr.vltgrey td,tr.vltgrey th,table tr td.vltgrey,table tr th.vltgrey{background:#DDD}
table.white,td.white,th.white,tr.white td,tr.white th,table tr td.white,table tr th.white,td.white,
table.white1,td.white1,th.white1,tr.white1 td,tr.white1 th,table tr td.white1,table tr th.white1{background:#FFF}
div.dkgrey1,table.dkgrey1,td.dkgrey1,th.dkgrey1,tr.dkgrey1 td,tr.dkgrey1 th,table tr td.dkgrey1,table tr th.dkgrey1{background:#BBB}
table.grey1,td.grey1,th.grey1,tr.grey1 td,tr.grey1 th,table tr td.grey1,table tr th.grey1{background:#EEE}
table.grey2,td.grey2,th.grey2,tr.grey2 td,tr.grey2 th,table tr td.grey2,table tr th.grey2{background:#FDFDFD}
table.grey3,td.grey3,th.grey3,tr.grey3 td,tr.grey3 th,table tr td.grey3,table tr th.grey3{background:#E3E3E3}
table.grey4,td.grey4,th.grey4,tr.grey4 td,tr.grey4 th,table tr td.grey4,table tr th.grey4{background:#F0F0F0}
table.grey5,td.grey5,th.grey5,tr.grey5 td,tr.grey5 th,table tr td.grey5,table tr th.grey5{background:#999}
table.grey6,td.grey6,th.grey6,tr.grey6 td,tr.grey6 th,table tr td.grey6,table tr th.grey6{background:#DDE6EC}
table.grey7,td.grey7,th.grey7,tr.grey7 td,tr.grey7 th,table tr td.grey7,table tr th.grey7{background:#E5E5E5}
table.grey8,td.grey8,th.grey8,tr.grey8 td,tr.grey8 th,table tr td.grey8,table tr th.grey8{background:#C8C8C8}
table.blue1,td.blue1,th.blue1,tr.blue1 td,tr.blue1 th,table tr td.blue1,table tr th.blue1{background:#5382A1}
table.blue2,td.blue2,th.blue2,tr.blue2 td,tr.blue2 th,table tr td.blue2,table tr th.blue2{background:#DDE6EC}
table.yellow1,td.yellow1,th.yellow1,tr.yellow1 td,tr.yellow1 th,table tr td.yellow1,table tr th.yellow1{background:#EFEFEF}
table.yellow2,td.yellow2,th.yellow2,tr.yellow2 td,tr.yellow2 th,table tr td.yellow2,table tr th.yellow2{background:#F9F9F9}
table.medgrey,td.medgrey,th.medgrey,tr.medgrey td,tr.medgrey th,table tr td.medgrey,table tr th.medgrey{background:#707277;color:#FFF}
table.featshade1,td.featshade1,th.featshade1,tr.featshade1 td,tr.featshade1 th,table tr td.featshade1,table tr th.featshade1{background:#DDE6EC}
table.featshade2,td.featshade2,th.featshade2,tr.featshade2 td,tr.featshade2 th,table tr td.featshade2,table tr th.featshade2{background:#EBEEF0}
table.rose,td.rose,th.rose,tr.rose td,tr.rose th,table tr td.rose,table tr th.rose{background:#D4C0AE}
table.dkrose,td.dkrose,th.dkrose,tr.dkrose td,tr.dkrose th,table tr td.dkrose,table tr th.dkrose{background:#AA9A8B}
td.redwidget{border-right:1px solid #C06600;border-bottom:1px solid #C06600;border-left:1px solid #FAE2CC;border-top:1px solid #FAE2CC}
.featshade2 div.pad10,.featshade1 div.pad10{padding-left:15px}

/* a4 */
div#breadcrumb,div.breadcrumb{margin:5px 25px;color:#3E6B8A}

/* a5 */
.a5{margin:5px 16px 10px 8px}
.footerlinks a{border-right:1px solid #A3B8CB;padding-right:5px;padding-left:2px;text-decoration:none !important}
span.footercopy{white-space:nowrap;padding-left:2px}

/* d1 & d2 */
.d1,.d2{background:#EEE}
.d1 .gwpadding1 .navtitle,.d2 .gwpadding1 .navtitle,.d1 .sectiontitle1,.d2 .sectiontitle1,.d1 .sectiontitle2,.d2 .sectiontitle2{padding-left:5px}
.d1 .gwpadding1,.d2 .gwpadding1{padding-left:20px}
td.sectiontitle2{padding-top:2px}

/* g2 */
.g2v4 .number,.g2v4 span.question{text-align:right;width:20px;float:left} 
.g2v4 span.question{font-weight:bold}
.g2v4 div.question{text-align:left;margin:0px 0px 15px 45px;font-weight:bold} 
.g2v4 span.answer{text-align:right;width:40px;float:left;font-weight:bold} 
.g2v4 div.answer{text-align:left;margin:0px 0px 0px 45px} 
.g2v3 hr,.g2v4 hr,.g2v5 hr{background:#E3E3E3;color:#E3E3E3;height:2px;padding:0px;border:0px}

/* helping ns4 */
.l1,.l1 a{color:#fff}
.l1 .l1lft{padding-left:18px;padding-right:10px;padding-bottom:10px}
.pn0,.pn0 p{color:#fff}
.pn0v1,.pn0v2,.pn0v3,.pn0v5,.pn0v7{margin-left:79px}
.pn0v9{margin-left:99px}
.pn0v4{padding-left:79px}

/* pre magellan */
.blknote,.rednote,.updated{text-transform:uppercase;font-weight:bold}
.fea-main1{margin:5px 8px 9px 8px}
.main1{margin:5px}
.main3{margin:0px 9px}
.main4{margin:9px 9px 0px 9px}
.main5{margin:9px 0px 0px 0px}
.redbld,.rednote,.updated{color:#F00}
.redcopy{color:#C33}
.solo-pad{padding:9px 5px 1px 9px}
.whtbld,.blkbld,.redbld{font-weight:bold}
a.nonu,a.nonu:visited,a.nonuc,a.nonuc:visited,a.unbl,a.unbl:visited,a.blklink,a.blklink:visited,.blkbld,.blknote{color:#000}
a.nonu,a.nonuc,a.nonuw{text-decoration:none}
a.nonuw,a.nonuw:visited,a.undw,a.undw:visited,a.unwt,a.unwt:visited,.whitehdr,.whtbld{color:#FFF}
div.group-pad P,div.group-pad div,.main2,.fea-main2{margin:0px;padding:3px 0px}
div.group-pad{margin:0px;padding:9px}
p.credit{padding:0px 30px}
p.quote{color:#900}
table.dkred{background:#E76F00}
table.dktan,td.dktan,th.dktan,tr.dktan td,tr.dktan th,table tr td.dktan,table tr th.dktan{background:#C96}
table.green,td.green,th.green,tr.green td,tr.green th,table tr td.green,table tr th.green{background:#B2BC00}
table.ltblue,td.ltblue,th.ltblue,tr.ltblue td,tr.ltblue th,table tr td.ltblue,table tr th.ltblue{background:#D7DDE1}
table.ltred,td.ltred,th.ltred,tr.ltred td,tr.ltred th,table tr td.ltred,table tr th.ltred{background:#F8D4B3}
table.lttan,td.lttan,th.lttan,tr.lttan td,tr.lttan th,table tr td.lttan,table tr th.lttan{background:#EBEEF0}
table.orange,td.orange,th.orange,tr.orange td,tr.orange th,table tr td.orange,table tr th.orange{background:#E76F00}
table.present,td.present,th.present,tr.present td,tr.present th,table tr td.present,table tr th.present{background:#C06600;color:#FFF}
table.present{background:#C60}
table.promo,td.promo,th.promo,tr.promo td,tr.promo th,table tr td.promo,table tr th.promo{background:#FFC726}
table.yell,td.yell,th.yell,tr.yell td,tr.yell th,table tr td.yell,table tr th.yell{background:#FFF4D4}
td.dkred,th.dkred,tr.dkred td,tr.dkred th,table tr td.dkred,table tr th.dkred{background:#E76F00;color:#FFF}
tr.title-bg td,td.title-bg{background:#fff}
