<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <filter>
    <filter-name>RunAs and Resource Injection Filter</filter-name>
    <filter-class>com.sun.s1asdev.deployment.ejb30.ear.security.MyFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>RunAs and Resource Injection Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <display-name>webclient</display-name>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>com.sun.s1asdev.deployment.ejb30.ear.security.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>myServlet</web-resource-name>
      <url-pattern>/servlet</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>j2ee</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>default</realm-name>
   </login-config>
  <security-role>
    <role-name>j2ee</role-name>
  </security-role>
</web-app>
