*.ipr
*.iml
*.iws
*.swp
*~
*.output
*.class
target/
.idea
nbactions.xml
.classpath
.DS_Store
.project
.settings/
appserver/appclient/client/acc-config/temp/
appserver/security/jaspic-provider-framework/auth.conf
appserver/tests/appserv-tests/devtests/web/JSESSIONID
