*.ipr
*.iml
*.iws
*.swp
*~
*.output
*.class
target/
.idea
nbactions.xml
.classpath
.project
.settings/
main/appserver/appclient/client/acc-config/temp/
main/appserver/security/jaspic-provider-framework/auth.conf
main/appserver/tests/appserv-tests/devtests/web/JSESSIONID
