<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">

    <description>WebTest</description>
    <display-name>WebTest</display-name>

    <!-- Define servlets  -->
    <servlet>
      <servlet-name>TestServlet</servlet-name>
      <servlet-class>servlets.TestServlet</servlet-class>
    </servlet>

    <!-- Define servlet mapping  -->
    <servlet-mapping>
       <servlet-name>TestServlet</servlet-name>
       <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>

</web-app>
