<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
         xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>WSI-Sample-Application</display-name>
  <servlet>
    <servlet-name>Retailer</servlet-name>
    <servlet-class>com.sun.wsi.scm.retailer.RetailerPortTypeImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ManufacturerC</servlet-name>
    <servlet-class>com.sun.wsi.scm.manufacturer.ManufacturerCPortTypeImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>WarehouseB</servlet-name>
    <servlet-class>com.sun.wsi.scm.warehouse.WarehouseBPortTypeImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Warehouse_Callback</servlet-name>
    <servlet-class>com.sun.wsi.scm.manufacturer.WarehouseCallbackPortTypeImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ManufacturerB</servlet-name>
    <servlet-class>com.sun.wsi.scm.manufacturer.ManufacturerBPortTypeImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>WarehouseA</servlet-name>
    <servlet-class>com.sun.wsi.scm.warehouse.WarehouseAPortTypeImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ManufacturerA</servlet-name>
    <servlet-class>com.sun.wsi.scm.manufacturer.ManufacturerAPortTypeImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Logging</servlet-name>
    <servlet-class>com.sun.wsi.scm.logging.LoggingFacilityLogPortTypeImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>WarehouseC</servlet-name>
    <servlet-class>com.sun.wsi.scm.warehouse.WarehouseCPortTypeImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Retailer</servlet-name>
    <url-pattern>/scm/retailer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logging</servlet-name>
    <url-pattern>/scm/logging</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WarehouseA</servlet-name>
    <url-pattern>/scm/warehousea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WarehouseB</servlet-name>
    <url-pattern>/scm/warehouseb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WarehouseC</servlet-name>
    <url-pattern>/scm/warehousec</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Warehouse_Callback</servlet-name>
    <url-pattern>/scm/warehouse/callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManufacturerA</servlet-name>
    <url-pattern>/scm/manufacturera</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManufacturerB</servlet-name>
    <url-pattern>/scm/manufacturerb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManufacturerC</servlet-name>
    <url-pattern>/scm/manufacturerc</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>
