/*
 * Copyright 2004-2005 Sun Microsystems, Inc.  All rights reserved.
 * Use is subject to license terms.
 */

.tree-control {
  font-family: verdana, geneva, helvetica, arial, sans-serif;
  font-size: 100%;
  line-height: 1.0;
}

.tree-control-selected {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.tree-control-unselected {
  color: green;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

