<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="admin infrastructure tests" >
    <test name="admin.remote-admin">
        <groups>
            <run>
                <exclude name="brokenTests" />
                <exclude name="interactiveTests" />
            </run>
        </groups>
        <classes>
            <class name="test.TestNGDriver" />
        </classes>
  </test>
</suite>
