<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" metadata-complete="true" version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <filter>
    <icon/>
    <filter-name>test.TestFilter</filter-name>
    <filter-class>test.TestFilter</filter-class>
    <init-param>
      <param-name>mesg</param-name>
      <param-value>hello</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>test.TestFilter</filter-name>
    <url-pattern>/mytest2</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>TestServlet</display-name>
    <icon/>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>test.TestServlet</servlet-class>
    <init-param>
      <param-name>n1</param-name>
      <param-value>v2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/mytest2</url-pattern>
  </servlet-mapping>
</web-app>
