
grant codeBase "file:${com.sun.aas.instanceRoot}/applications/extensions/-" {
      permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
};
