<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Servlet Test</display-name>

  <servlet>
    <servlet-name>JpaServlet</servlet-name>
    <servlet-class>web.JpaServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>JpaServlet</servlet-name>
    <url-pattern>/jpa/*</url-pattern>
  </servlet-mapping>
</web-app>






