<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>OverrideTestServlet</display-name>
  <servlet>
    <servlet-name>OverrideTestServlet</servlet-name>
    <servlet-class>override.OverrideTestServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>OverrideTestServlet</servlet-name>
    <url-pattern>/overridetest</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>54</session-timeout>
  </session-config>
      <resource-ref>
        <res-ref-name>myDS3</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <lookup-name>jdbc/__default</lookup-name>
      </resource-ref>
      <resource-ref>
        <res-ref-name>myDS5and6</res-ref-name>
        <injection-target>
        <injection-target-class>override.OverrideTestServlet</injection-target-class>
        <injection-target-name>myDS6</injection-target-name>
        </injection-target>
      </resource-ref>
      <resource-ref>
        <description>override</description>
        <res-ref-name>myDS7</res-ref-name>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Unshareable</res-sharing-scope>
        <lookup-name>jdbc/__default</lookup-name>
      </resource-ref>
      <resource-ref>
        <res-ref-name>myDS8</res-ref-name>
        <mapped-name>jdbc/__default</mapped-name>
      </resource-ref>
     <resource-ref>
        <res-ref-name>myDS4</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <mapped-name>jdbc/__default</mapped-name>
        <lookup-name>foo_bar</lookup-name>
      </resource-ref>
</web-app>
