<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN' 'http://java.sun.com/j2ee/dtds/web-app_2_2.dtd'>

<web-app>
  <display-name>subclassing</display-name>
  <distributable></distributable>
  <servlet>
    <servlet-name>SimpleBankServlet</servlet-name>
    <servlet-class>samples.ejb.subclassing.servlet.SimpleBankServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleBankServlet</servlet-name>
    <url-pattern>/servlet/SimpleBankServlet</url-pattern>
  </servlet-mapping>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name></realm-name>
    <form-login-config>
      <form-login-page></form-login-page>
      <form-error-page></form-error-page>
    </form-login-config>
  </login-config>
  <ejb-ref>
    <ejb-ref-name>ejb/customerSavings</ejb-ref-name>
    <ejb-ref-type>Entity</ejb-ref-type>
    <home>samples.ejb.subclassing.ejb.CustomerSavingsHome</home>
    <remote>samples.ejb.subclassing.ejb.CustomerSavings</remote>
    <ejb-link>CustomerSavingsEJB</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/customerChecking</ejb-ref-name>
    <ejb-ref-type>Entity</ejb-ref-type>
    <home>samples.ejb.subclassing.ejb.CustomerCheckingHome</home>
    <remote>samples.ejb.subclassing.ejb.CustomerChecking</remote>
    <ejb-link>CustomerCheckingEJB</ejb-link>
  </ejb-ref>
</web-app>

