
grant codeBase "file:${com.sun.aas.instanceRoot}/applications/simple-bv-servlet/-" {
      permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
};
