<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd ">
  <servlet>
    <servlet-name>ProbeServlet</servlet-name>
    <servlet-class>com.sun.blogs.foo.samples.ProbeApp.ProbeServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProbeServlet</servlet-name>
    <url-pattern>/probeservlet</url-pattern>
  </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/probeservlet</welcome-file>
        </welcome-file-list>
    </web-app>
