<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE project [
<!--

    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    The contents of this file are subject to the terms of either the GNU
    General Public License Version 2 only ("GPL") or the Common Development
    and Distribution License("CDDL") (collectively, the "License").  You
    may not use this file except in compliance with the License.  You can
    obtain a copy of the License at
    https://oss.oracle.com/licenses/CDDL+GPL-1.1
    or LICENSE.txt.  See the License for the specific
    language governing permissions and limitations under the License.

    When distributing the software, include this License Header Notice in each
    file and include the License file at LICENSE.txt.

    GPL Classpath Exception:
    Oracle designates this particular file as subject to the "Classpath"
    exception as provided by Oracle in the GPL Version 2 section of the License
    file that accompanied this code.

    Modifications:
    If applicable, add the following below the License Header, with the fields
    enclosed by brackets [] replaced by your own identifying information:
    "Portions Copyright [year] [name of copyright owner]"

    Contributor(s):
    If you wish your version of this file to be governed by only the CDDL or
    only the GPL Version 2, indicate your decision by adding "[Contributor]
    elects to include this software in this distribution under the [CDDL or GPL
    Version 2] license."  If you don't indicate a single choice of license, a
    recipient has the option to distribute your version of this file under
    either the CDDL, the GPL Version 2 or to extend the choice of license to
    its licensees as provided above.  However, if you add GPL Version 2 code
    and therefore, elected the GPL Version 2 license, then the option applies
    only if the new code is made subject to such option by the copyright
    holder.

-->

<!ENTITY commonSetup SYSTEM "file:./../../config/properties.xml">
<!ENTITY commonBuild SYSTEM "file:./../../config/common.xml">
<!ENTITY commonBuild2 SYSTEM "file:./../common-build.xml">
<!ENTITY testproperties SYSTEM "file:./build.properties">
]>

<project name="project-name-here" default="all" basedir=".">

    &commonSetup;
    &commonBuild;
    &testproperties;
    &commonBuild2;

    <target name="all" depends="build,deploy,run,report,undeploy"/>

    <!-- Classpath definitions needed during compile/run time-->
    <path id="compile.classpath">
       <path refid="path2testng"/>
    </path>
    <path id="run.classpath">
       <path refid="compile.classpath"/>
       <pathelement location="${build.dir}"/>
    </path>

    <!-- TestNG xml fileset -->
    <fileset id="run.xmlfileset"
             dir="."
             includes="testng.xml">
    </fileset>

    <!-- TestNG class fileset -->
    <fileset id="run.classfileset"
             dir="${build.dir}/"
             includes="**/*.class">
    </fileset>

    <!-- if compile of servlet/ejb/other dependency classes is needed -->
    <target name="compile" depends="clean">
         <antcall target="compile-common">
             <param name="src" value="source-dir-here"/>
         </antcall>
    </target>

    <!-- compile TestNG based test classes -->
    <target name="compile-tests" depends="clean">
        <antcall target="common-compile-testng-tests">
            <param name="compile.testng.srcdir" value="tests"/>
            <param name="compile.testng.destdir" value="${build.dir}"/>
            <param name="compile.testng.classpath" value="compile.classpath"/>
        </antcall>
    </target>

    <!-- packaging for war/ear/rar and other related tasks -->
    <target name="build" depends="compile">
        <!-- antcalls to create war/ear, others here -->
    </target> 

    <target name="deploy" depends="init-common">
        <!-- antcall to deployment targets - see devtests/config/common.xml -->
    </target>

    <!-- Run TestNG test via testng.xml -->
    <target  name="run"  depends="compile-tests">
       <antcall target="common-run">
           <param name="run.testng.classpath" value="run.classpath"/>
           <param name="run.testng.xmlfileset" value="run.xmlfileset"/>
       </antcall>
    </target>

    <!-- Run TestNG tests belonging to specified group names -->
    <target  name="run-groups"  depends="build,deploy,compile-tests,report,undeploy">
        <antcall target="common-run-groups">
            <param name="run.testng.classpath" value="run.classpath"/>
            <param name="run.testng.classfileset" value="run.classfileset"/>
        </antcall>
    </target>

    <!-- This target runs failed tests from previous runs
         Actual build.xml shouldn't need to modify this 
         See common-build.xml for the definition of common-run-failed -->
    <target name="run-failed" depends="common-run-failed"/>

    <!-- Geneate report -->
    <target name="report" depends="common-report"/>

    <target name="undeploy" depends="init-common">
        <!-- antcalls to common undeployment targets -->
    </target>   

    <target name="clean" depends="init-common">
      <antcall target="clean-common"/>
      <delete dir="${build.dir}"/>
      <delete dir="gen"/>
      <delete dir="test-output"/>
      <delete dir="test-report"/>
    </target>

</project>
