<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>wrc1</web-resource-name>
      <url-pattern>/myurl</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>wrc2</web-resource-name>
      <url-pattern>/myurl</url-pattern>
      <http-method>TRACE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>javaee</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>wrc3</web-resource-name>
      <url-pattern>/myurl</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
  <security-role>
    <role-name>javaee</role-name> 
  </security-role>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>default</realm-name>
  </login-config>
</web-app>
