/* Information plugin styles */

.noteMessage, .warningMessage, .infoMessage, .tipMessage {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 5px;
    overflow: hidden; /* fix width next to floated content */
}

.noteMessage {
    border-color: #f0c000;
    background: #ffffce;
}

.warningMessage {
    border-color: #c00;
    background: #fcc;
}

.infoMessage {
    border-color: #69c;
    background: #d8e4f1;
}

.tipMessage {
    border-color: #090;
    background-color: #dfd;
}

table.infoMacro td, table.warningMacro td, table.tipMacro td, table.noteMacro td {
    border: none;
}

.informationMacroPadding {
    padding: 5px 0 0 5px;
}

.noteMacro, .warningPanel {
    background-color: #ffffce;
}
#addition .noteMacro {
    border-style: solid;
    border-width: 1px;
    border-color: #f0c000;
    background-color: #ffffce;
    text-align:left;
    padding: 10px;
    width: 100%;
    margin: 5px 20px;
}

#addition .noteMacro td {
    font-size: 10pt;
    padding: 2px;
    padding-right: 15px;
}

#addition .noteMacro p {
    font-size: 10pt;
}

#addition .noteMacro b {
    font-size: 10pt;
}

#addition table.noteMacro td {
    border: none;
}

#replying .noteMacro {
    border-style: solid;
    border-width: 1px;
    border-color: #f0c000;
    background-color: #ffffce;
    text-align:left;
    padding: 10px;
    width: 100%;
    margin: 5px 20px;
}

#replying .noteMacro td {
    font-size: 10pt;
    padding: 2px;
    padding-right: 15px;
}

#replying .noteMacro p {
    font-size: 10pt;
}

#replying .noteMacro b {
    font-size: 10pt;
}

#replying table.noteMacro td {
    border: none;
}

.tipMacro {
    background-color: #dfd;
}

.warningMacro {
    background-color: #fcc;
}

.infoMacro {
    background-color: #d8e4f1;
}

.warningPanel {
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    margin: 10px;
}

.warningPanel {
    border-color: #f0c000;
}



