#tab-navigation {
    border-bottom: 1px solid;
    margin: 0 -10px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.tab-navigation {
    list-style: none;
    display: block;
    margin: 0 0 -1px;
    padding: 0;
    overflow: hidden;
}
.tab-navigation .tab {
    float: left;
    display: inline;
    font-weight: bold;
    margin: 0 5px -1px 0;
}
.tab-navigation .tab a {
    padding: .3em .4em;
    text-decoration: none;
    display: block;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.tab-navigation .notab {
    margin: 1px 1px 0 1px;
    padding: .3em;
    float: left;
}

/* Make the following more specific, so they aren't overriden by themes. */
ul.tab-navigation .current a {
    color: #000;
    background-color: #fff;
    border-bottom-color: #fff; /* IE */
}
ul.tab-navigation .current a:hover {
    color: #000;
    background-color: #fff;
    border-bottom-color: #fff; /* IE */
}
