code{
  font-family: Courier, monospace;
}
a {
  text-decoration: none;
}
.source {
  border: 1px solid #999;
}

#organizationLogo img, #projectLogo img, #projectLogo span{
  margin: 8px;
}
.errormark, .warningmark, .donemark, .infomark {
  background: url(../images/icon_error_sml.gif) no-repeat;
}

.warningmark {
  background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
  background-image: url(../images/icon_success_sml.gif);
}

.infomark {
  background-image: url(../images/icon_info_sml.gif);
}

