<?xml version='1.0' encoding='UTF-8'?>

<!--
 Copyright 2004-2005 Sun Microsystems, Inc.  All rights reserved.
 Use is subject to license terms.
-->

<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">


<web-app>

    <display-name>JavaServer Faces Custom Components</display-name>
    <description>
        JavaServer Faces Custom Components
    </description>

    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>

    <context-param>
        <param-name>tree.control.images</param-name>
        <param-value>/images</param-value>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
        <description>
            Set this flag to true if you want the JavaServer Faces
            Reference Implementation to validate the XML in your
            faces-config.xml resources against the DTD.  Default
            value is false.
        </description>
    </context-param>

    <!--
         PENDING:  MapComponent and GraphComponent currently add
         a default listener in their constructor, which can only
         succeed if there is a FacesContext for the current request.
    -->
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
        <description>
            Set this flag to true if you want the JavaServer Faces
            Reference Implementation to verify that all of the application
            objects you have configured (components, converters,
            renderers, and validators) can be successfully created.
            Default value is false.
        </description>
    </context-param>

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup> 1 </load-on-startup>
    </servlet>
    
    <!-- Chart Servlet -->
    <servlet>
        <servlet-name>ChartServlet</servlet-name>
        <servlet-class>components.renderkit.ChartServlet</servlet-class>
    </servlet>


    <!-- Faces Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ChartServlet</servlet-name>
        <url-pattern>/ChartServlet</url-pattern>
    </servlet-mapping>


    

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <!-- This security constraint illustrates how JSP pages
             with JavaServer Faces components can be protected from
             being accessed without going through the Faces Servlet.
             The security constraint ensures that the Faces Servlet will
             be used or the pages will not be processed. -->
        <display-name>Restrict access to JSP pages</display-name>
        <web-resource-collection>
            <web-resource-name>
                Restrict access to JSP pages
            </web-resource-name>
            <url-pattern>/imagemap.jsp</url-pattern>
            <url-pattern>/menu.jsp</url-pattern>
            <url-pattern>/repeater.jsp</url-pattern>
            <url-pattern>/result-set.jsp</url-pattern>
            <url-pattern>/tabbedpanes.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
                <description>
                    With no roles defined, no access granted
                </description>
        </auth-constraint>
    </security-constraint>

</web-app>
