/*
 * The contents of this file are subject to the terms 
 * of the Common Development and Distribution License 
 * (the "License").  You may not use this file except 
 * in compliance with the License.
 * 
 * You can obtain a copy of the license at 
 * glassfish/bootstrap/legal/CDDLv1.0.txt or 
 * https://glassfish.dev.java.net/public/CDDLv1.0.html. 
 * See the License for the specific language governing 
 * permissions and limitations under the License.
 * 
 * When distributing Covered Code, include this CDDL 
 * HEADER in each file and include the License file at 
 * glassfish/bootstrap/legal/CDDLv1.0.txt.  If applicable, 
 * add the following below this CDDL HEADER, with the 
 * fields enclosed by brackets "[]" replaced with your 
 * own identifying information: Portions Copyright [yyyy] 
 * [name of copyright owner]
 */

body {background-color: #FFFFFF;
      font-size: 12pt;
      font-family: SansSerif}       

h1  {font-size: 18pt;
     font-weight: bold;
     color: #8080C0;
     margin-top: 0;
     margin-bottom: 0}

h1.cover {border-top="300em";
	  margin-botttom="120";
	  font-family: Palatino}

h2 {font-size: 14pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 15;
    margin-bottom: -5}

h3 {font-size: 12pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 10;
    margin-bottom: -5}

p   {font-size: 12pt;
     margin-top: 10;
     margin-bottom: 0}

p.code {font-family: Monospaced;
	margin-left: 22}

p.indent1  {margin-left: 3}

p.indent2  {margin-left: 12}

p.indent3  {margin-left: 32}

p.note {margin-top: -19;
	margin-left: 22}

p.table {margin-bottom: 0}

blockquote.menu {margin-left: 18;
		margin-top: 10}

center {margin-top: 10}

dl {margin-left: 10;
    margin-top: 10;
    margin-bottom: 10}

dd.hang {margin-left:15;
	 margin-bottom:10}

dd.hang_last {margin-left:15;
	 margin-bottom:0}

dd.next {margin-left: 31}

dd p {margin-left: 20;
    margin-top: 0;
    margin-bottom: 0}

ul {margin-top: 10;
    margin-bottom: 0;
    margin-left: 30;
    -bullet-gap: 70
    list-style-image: blueListBull.gif}


ul li {margin-bottom: 7}

ul li.tight {margin-bottom: 2}

pre.code_table {font-size: 11;
	   margin-left: 10}

table {
	border-color: Gray;
	border-style: outset;
	margin-top: 10;
       	margin-bottom: 5;
       	margin-left: 5;
	margin-right: 5}

table.bullet {
	border-color: Gray;
	border-style: outset;
	margin-top: 0;
       	margin-bottom: 5;
       	margin-left: 5;
	margin-right: 5}

table.nested {margin-top: -5}

td.more_space {margin-top: 15}

dl.see_also {margin-left: 0;
    margin-top: 10;
    margin-bottom: 10}
    
a {color:blue;
    text-decoration: underline}

