<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>JustWeb</display-name>
  <servlet>
    <display-name>JustWebServlet</display-name>
    <servlet-name>JustWebServlet</servlet-name>
    <servlet-class>justweb.JustWebServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JustWebServlet</servlet-name>
    <url-pattern>/justwebc</url-pattern>
  </servlet-mapping>
  <ejb-ref>
    <ejb-ref-name>ejb/JustBean</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>justbean.JustBeanHome</home>
    <remote>justbean.JustBean</remote>
    <ejb-link>JustSessionBean</ejb-link>
  </ejb-ref>
</web-app>
