<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <context-param>
    <param-name>testclassname</param-name>
    <param-value>stubprops.TestServlet</param-value>
  </context-param>
 <servlet>
  <servlet-name>test.webservice.WebServiceTestImpl</servlet-name>
  <servlet-class>test.webservice.WebServiceTestImpl</servlet-class>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>test.webservice.WebServiceTestImpl</servlet-name>
  <url-pattern>/WebServiceTestService</url-pattern>
 </servlet-mapping>
  <service-ref>
    <description>service ref for ejb endpoint</description>
    <service-ref-name>service/SimpleServiceReference</service-ref-name>
    <service-interface>javax.xml.rpc.Service</service-interface>
    <wsdl-file>WEB-INF/wsdl/SayHelloService.wsdl</wsdl-file>
    <jaxrpc-mapping-file>SayHelloMapping_ejb.xml</jaxrpc-mapping-file>
    <service-qname xmlns:servicens="urn:WebServiceTest">servicens:SayHelloService</service-qname>
    <port-component-ref>
      <service-endpoint-interface>stubprops.SimpleServer</service-endpoint-interface>
    </port-component-ref>
   </service-ref> 
</web-app>
