/*
 * Copyright 2006 Sun Microsystems, Inc. All rights reserved.
 * SUN PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
 */
package com.sun.s1asdev.security.wss.ssl.client;

import javax.xml.ws.WebServiceRef;

import com.sun.s1asdev.security.wss.ssl.ejbws.HelloEjb;
import com.sun.s1asdev.security.wss.ssl.ejbws.WssSslEjbService;
import com.sun.s1asdev.security.wss.ssl.servletws.HelloServlet;
import com.sun.s1asdev.security.wss.ssl.servletws.WssSslServletService;

import com.sun.ejte.ccl.reporter.SimpleReporterAdapter;

public class Client {
    private static SimpleReporterAdapter stat =
            new SimpleReporterAdapter("appserv-tests");
    private static String testSuite = "Sec:WSS SSL test ";

    @WebServiceRef(wsdlLocation="https://@HOST@:@PORT@/WssSslEjbService/HelloEjb?WSDL")
    private static WssSslEjbService ejbService;
    @WebServiceRef(wsdlLocation="https://@HOST@:@PORT@/security-wss-ssl/webservice/WssSslServletService/HelloServlet?WSDL")
    private static WssSslServletService servletService;

    public static void main(String[] args) {
        stat.addDescription("security-wss-ssl");
        String description = null;
        try {
            // ejb ws
            HelloEjb ejbPort = ejbService.getHelloEjbPort();
            description = testSuite + " ssl: ejb hello";
            ejbPort.hello("Sun Ejb");
            stat.addStatus(description, stat.PASS);  
        } catch(Exception ex) {
            ex.printStackTrace();
            stat.addStatus(description, stat.FAIL);
        }

        try {
            // servlet ws
            HelloServlet servletPort = servletService.getHelloServletPort();
            description = testSuite + " ssl: servlet hello";
            servletPort.hello("Sun Servlet");
            stat.addStatus(description, stat.PASS);  
        } catch(Exception ex) {
            ex.printStackTrace();
            stat.addStatus(description, stat.FAIL);
        }

        stat.printSummary("security-wss-ssl");
    }
}
