grant codeBase "file:${com.sun.aas.instanceRoot}/applications/generic-ra/-" {
    permission javax.security.auth.AuthPermission
                    "modifyPrincipals";
    permission javax.security.auth.AuthPermission
                    "modifyPublicCredentials";
    permission javax.security.auth.AuthPermission
                    "modifyPrivateCredentials";
    permission javax.security.auth.AuthPermission
                    "doAsPrivileged";
    permission javax.security.auth.AuthPermission
                    "createLoginContext.fileRealm";
    permission javax.security.auth.PrivateCredentialPermission
                "com.sun.enterprise.security.auth.login.common.PasswordCredential * \"*\"", "read";
};

