<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- There are various forms to specify tests in testng.xml
     For details see http://www.testng.org/doc/documentation-main.html#testng 
     One way it to specify the classes via name that should included in
     the test runs.
-->
<suite name="suite-name-here" >
  <test name="test-name-here" >
    <classes>
      <class name="test-classname-here" />
      <class name="..." />
    </classes>
  </test>
</suite>
