<beans
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
       http://java.sun.com/xml/ns/javaee
       http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
   <interceptors>
      <class>test.beans.SecondTransactionInterceptor</class> <!--  first invoke second interceptor -->
      <class>test.beans.TransactionInterceptor</class>
      <!-- Third Transactional Interceptor is disabled
      <class>test.beans.ThirdTransactionInterceptor</class>
       -->
   </interceptors>
</beans>
