<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/j2ee/dtds/web-app_2_3.dtd'>

<web-app>
  <display-name>contauth</display-name>
  <distributable></distributable>
  <servlet>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>servlet.SimpleServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/servlet/SimpleServlet</url-pattern>
  </servlet-mapping>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name></realm-name>
    <form-login-config>
      <form-login-page></form-login-page>
      <form-error-page></form-error-page>
    </form-login-config>
  </login-config>
  <ejb-local-ref>
    <ejb-ref-name>ejb/SimpleBMPEJB</ejb-ref-name>
    <ejb-ref-type>Entity</ejb-ref-type>
    <local-home>com.sun.s1asdev.jdbc.contauth.ejb.SimpleBMPHome</local-home>
    <local>com.sun.s1asdev.jdbc.contauth.ejb.SimpleBMP</local>
    <ejb-link>SimpleBMPEJB</ejb-link>
  </ejb-local-ref>
</web-app>

