<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>cdclient</display-name>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/servlet/Servlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>
            index.jsp
        </welcome-file>
    <welcome-file>
            index.html
        </welcome-file>
    <welcome-file>
            index.htm
        </welcome-file>
  </welcome-file-list>
  <ejb-ref>
    <ejb-ref-name>ejb/RemoteA</ejb-ref-name>
    <ejb-ref-type>Entity</ejb-ref-type>
    <home>cascadeDelete.AHome</home>
    <remote>cascadeDelete.A</remote>
    <ejb-link>A</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/RemoteB</ejb-ref-name>
    <ejb-ref-type>Entity</ejb-ref-type>
    <home>cascadeDelete.BHome</home>
    <remote>cascadeDelete.B</remote>
    <ejb-link>B</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/RemoteC</ejb-ref-name>
    <ejb-ref-type>Entity</ejb-ref-type>
    <home>cascadeDelete.CHome</home>
    <remote>cascadeDelete.C</remote>
    <ejb-link>C</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/RemoteD</ejb-ref-name>
    <ejb-ref-type>Entity</ejb-ref-type>
    <home>cascadeDelete.DHome</home>
    <remote>cascadeDelete.D</remote>
    <ejb-link>D</ejb-link>
  </ejb-ref>
</web-app>
