<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

  <servlet>
    <servlet-name>MyProtectedServlet</servlet-name>
    <servlet-class>MyProtectedServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MyProtectedServlet</servlet-name>
    <url-pattern>/application/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>MyProtectedServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MyProtectedServlet</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
      
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/application/redirect/*</url-pattern>
      <url-pattern>/redirect</url-pattern>      
      <url-pattern>/content.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>file</realm-name>
  </login-config>
  
  <security-role>
    <role-name>user</role-name>
  </security-role>
</web-app>
