<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <listener>
    <listener-class>test.MyListener</listener-class>
  </listener>

  <env-entry>
    <env-entry-name>test.NewFilter/welcomeMessage</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Hello World from env-entry!</env-entry-value>
  </env-entry>

  <env-entry>
    <env-entry-name>test.NewServlet/welcomeMessage</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Hello World from env-entry!</env-entry-value>
  </env-entry>

</web-app>

