<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>test</display-name>
  <distributable></distributable>
  <servlet>
    <servlet-name>wftestServlet</servlet-name>
    <init-param>
      <param-name>mesg</param-name>
      <param-value>hello t</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>wftestServlet</servlet-name>
    <url-pattern>/test2</url-pattern>
  </servlet-mapping>
</web-app>
