<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2003 Sun Microsystems, Inc. All rights reserved. -->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>i18n-simple</display-name>
  <distributable/>
  <filter>
    <filter-name>Simple Filter</filter-name>
    <filter-class>samples.i18n.simple.servlet.SimpleFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>usefilter</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Simple Filter</filter-name>
    <url-pattern>/SimpleFilterServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SimpleFilterServlet</servlet-name>
    <servlet-class>samples.i18n.simple.servlet.SimpleFilterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForwardedServlet</servlet-name>
    <servlet-class>samples.i18n.simple.servlet.ForwardedServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SimpleI18nServlet</servlet-name>
    <servlet-class>samples.i18n.simple.servlet.SimpleI18nServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LocaleCharsetServlet</servlet-name>
    <servlet-class>samples.i18n.simple.servlet.LocaleCharsetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IncludedServlet</servlet-name>
    <servlet-class>samples.i18n.simple.servlet.IncludedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleFilterServlet</servlet-name>
    <url-pattern>/SimpleFilterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForwardedServlet</servlet-name>
    <url-pattern>/ForwardedServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SimpleI18nServlet</servlet-name>
    <url-pattern>/SimpleI18nServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LocaleCharsetServlet</servlet-name>
    <url-pattern>/LocaleCharsetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IncludedServlet</servlet-name>
    <url-pattern>/IncludedServlet</url-pattern>
  </servlet-mapping>
</web-app>
