<?xml version="1.0" encoding="UTF-8" ?>
<sun-application>
  <security-role-mapping>
    <role-name>SECUSER</role-name>
    <principal-name>CN=@HOST@, OU=GlassFish, O=Sun Microsystems, L=Santa Clara, ST=California, C=US</principal-name>
  </security-role-mapping>
</sun-application>
