//
// Copyright 2004-2005 Sun Microsystems, Inc.  All rights reserved.
// Use is subject to license terms.
//


// Standard extensions get all permissions by default

grant { 
        permission java.security.AllPermission; 
};

grant codeBase "file:/-" { 
        permission java.security.AllPermission; 
}; 

grant codeBase "file:${IWS_ROOT}/bin/https/jar/j2ee.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/crimson.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/jaas.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/jakarta-regexp-1.2.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/javax.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/jaxp.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/jcert.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/jmxri.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/jsse.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/xalan.jar" { 
        permission java.security.AllPermission; 
    }; 

grant codeBase "file:${IWS_ROOT}/bin/https/jar/imq.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/imqadmin.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/imqbroker.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/imqservlet.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/imqspi.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/imqutil.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/jms.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/junit.jar" { 
        permission java.security.AllPermission; 
    }; 

grant codeBase "file:${IWS_ROOT}/bin/https/jar/cloudscape.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/cloudutil.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/cloudclient.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/RmiJdbc.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/jhall.jar" { 
        permission java.security.AllPermission; 
    }; 

grant codeBase "file:${IWS_ROOT}/bin/https/jar/persistence-rt.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/persistence-ui.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/dbschema.jar" { 
        permission java.security.AllPermission; 
    }; 
grant codeBase "file:${IWS_ROOT}/bin/https/jar/xerces.jar" { 
        permission java.security.AllPermission; 
    }; 


//========================================================================


grant codeBase "file:${java.home}/lib/ext/-" {
	permission java.security.AllPermission;
};

grant codeBase "file:${java.home}/../lib/tools.jar" {
        permission java.security.AllPermission;
};

grant codeBase "file:${com.sun.enterprise.home}/lib/classes/" {
	permission java.security.AllPermission;
};

grant codeBase "file:${jms.home}/classes/" {
	permission java.security.AllPermission;
};

// Drivers and other system classes should be stored in this 
// code base.
grant codeBase "file:${com.sun.enterprise.home}/lib/system/-" {
	permission java.security.AllPermission;
};

grant codeBase "file:${com.sun.enterprise.home}/public_html/-" {
	permission java.lang.RuntimePermission "loadLibrary.*";
    permission java.lang.RuntimePermission "accessClassInPackage.*";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "queuePrintJob";
    permission java.lang.RuntimePermission "modifyThreadGroup";
    permission java.io.FilePermission "<<ALL FILES>>", "read,write";
    permission java.net.SocketPermission "*", "connect";
  	// "standard" properies that can be read by anyone
    permission java.util.PropertyPermission "*", "read";
    // set the JSSE provider for lazy authentication of app. clients.
    permission java.security.SecurityPermission "putProviderProperty.JSSE";
    permission java.security.SecurityPermission "insertProvider.JSSE";
};

grant codeBase "file:${com.sun.enterprise.home}/lib/j2ee.jar" {
	permission java.security.AllPermission;
};

// default permissions granted to all domains

grant { 
    permission java.lang.RuntimePermission "queuePrintJob";

	// Additional properties needed RI...
	permission java.io.FilePermission "*", "read";
	permission java.io.FilePermission "${com.sun.enterprise.home}${file.separator}-", "read";
	permission java.io.FilePermission "${com.sun.enterprise.home}${file.separator}repository${file.separator}-", "read,write,delete";
	permission java.io.FilePermission "${com.sun.enterprise.home}${file.separator}logs${file.separator}-", "read,write,delete";
	permission java.io.FilePermission "${java.io.tmpdir}${file.separator}-", "read,write,delete";
	permission java.io.FilePermission "${user.home}${file.separator}-", "read,write,delete";

	// allows anyone to listen on un-privileged ports
	permission java.net.SocketPermission "*", "connect";

	// "standard" properies that can be read by anyone
	permission java.util.PropertyPermission "*", "read";

	// This permission is there to workaround the lack of
	// a privileged block in RMI-IIOP's classloading code.
	permission java.io.FilePermission "<<ALL FILES>>", "read";

	// This permission is there to workaround the lack of
	// a privileged block in RMI-IIOP's introspection related code.
	permission java.lang.RuntimePermission "accessDeclaredMembers";

        // @@@ Needed by resource adapters to handle Subject
        permission javax.security.auth.PrivateCredentialPermission "javax.resource.spi.security.PasswordCredential * \"*\"", "read";
        permission javax.security.auth.PrivateCredentialPermission "javax.resource.spi.security.GenericCredential * \"*\"", "read";

};
