<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
 Copyright 2006 Sun Microsystems, Inc. All rights reserved.
 Use is subject to license terms.
-->


<server>
	<param name="string" value="string" />
	<component id="ejb">
		<param name="audit.log.file" value="audit.log" />
		<param name="repository.directory" value="repository" />
		<param name="applications.directory" value="applications" />
		<param name="http.port" value="9191" />
		<param name="transaction.interoperability" value="true" />
	</component>
	<component id="startup-classes">
		<param name="class" value="com.ibm.abc;com.ibm.xyz" />
	</component>
	<component id="resources">
		<param name="jdbcDataSource.0.name" value="jdbc/Cloudscape" />
		<param name="jdbcDataSource.0.url=jdbc:cloudscape:rmi:CloudscapeDB;create" value="true" />
		<param name="jdbcDataSource.1.name" value="jdbc/EstoreDB" />
		<param name="jdbcDataSource.1.url=jdbc:cloudscape:rmi:CloudscapeDB;create" value="true" />
		<param name="jdbcDataSource.2.name" value="jdbc/InventoryDB" />
		<param name="jdbcDataSource.2.url=jdbc:cloudscape:rmi:CloudscapeDB;create" value="true" />
		<param name="jdbcDataSource.3.name" value="jdbc/DB1" />
		<param name="jdbcDataSource.3.url=jdbc:cloudscape:rmi:CloudscapeDB;create" value="true" />
		<param name="jdbcDataSource.4.name" value="jdbc/DB2" />
		<param name="jdbcDataSource.4.url=jdbc:cloudscape:rmi:CloudscapeDB;create" value="true" />
		<param name="jdbcDriver.0.name" value="COM.cloudscape.core.RmiJdbcDriver" />
		<param name="jdbcXADataSource.0.name" value="jdbc/XACloudscape" />
		<param name="jdbcXADataSource.0.classname" value="COM.cloudscape.core.RemoteXaDataSource" />
		<param name="jdbcXADataSource.0.dbpassword" value="" />
		<param name="jdbcXADataSource.0.dbuser" value="" />
		<param name="jdbcXADataSource.0.prop.createDatabase" value="create" />
		<param name="jdbcXADataSource.0.prop.databaseName" value="CloudscapeDB" />
		<param name="jdbcXADataSource.0.prop.remoteDataSourceProtocol" value="rmi" />
		<param name="jmsCnxFactory.0.name" value="QueueConnectionFactory" />
		<param name="jmsCnxFactory.0.isQueue" value="true" />
		<param name="jmsCnxFactory.1.name" value="TopicConnectionFactory" />
		<param name="jmsCnxFactory.1.isQueue" value="false" />
		<param name="jmsCnxFactory.2.name" value="jms/QueueConnectionFactory" />
		<param name="jmsCnxFactory.2.isQueue" value="true" />
		<param name="jmsCnxFactory.3.name" value="jms/TopicConnectionFactory" />
		<param name="jmsCnxFactory.3.isQueue" value="false" />
		<param name="jmsDestination.0.name" value="jms/Queue" />
		<param name="jmsDestination.0.isQueue" value="true" />
		<param name="jmsDestination.1.name" value="jms/Topic" />
		<param name="jmsDestination.1.isQueue" value="false" />
	</component>
	<component id="service">
		<param name="jmsmanager.class" value="com.sun.jms.service.JMSManagerImpl" />
		<param name="jmsadminfactory.class" value="com.sun.jms.admin.JMSAdminFactoryImpl" />
	</component>
	<component id="security">
		<param name="enable.clientauth" value="false" />
		<param name="enable.ciphersuites" value="SSL_DH_anon_EXPORT_WITH_DES40_CBC_SHA,SSL_DHE_DSS_EXPORT_WITH_DES40_CBC_SHA,SSL_RSA_EXPORT_WITH_RC4_40_MD5,SSL_RSA_WITH_NULL_MD5,SSL_RSA_WITH_NULL_SHA,SSL_DH_anon_EXPORT_WITH_RC4_40_MD5" />
		<param name="client.sendpassword" value="true" />
		<param name="client.trustedhosts" value="*" />
		<param name="server.trustedhosts" value="*" />
		<param name="interop.ssl.required" value="false" />
		<param name="interop.callerPropagation.enabled" value="false" />
		<param name="interop.authRequired.enabled" value="false" />
		<param name="interop.nameservice.ssl.required" value="false" />
	</component>
	<component id="jms_client">
		<param name="com.sun.jms.internal.java.naming.provider.url" value="" />
		<param name="com.sun.jms.client.transport_preference" value="IIOP" />
		<param name="com.sun.jms.default.loglevel" value="WARNING" />
	</component>
	<component id="jms_service">
		<param name="com.sun.jms.internal.java.naming.provider.url" value="" />
		<param name="com.sun.jms.client.transport_preference" value="IIOP" />
		<param name="com.sun.jms.service.bindAdministeredObjects" value="false" />
		<param name="com.sun.jms.service.jdbc.driver" value="COM.cloudscape.core.JDBCDriver" />
		<param name="com.sun.jms.service.jdbc.protocol" value="jdbc:cloudscape:" />
		<param name="com.sun.jms.service.jdbc.dbname" value="JMSDB" />
		<param name="com.sun.jms.service.jdbc.dbparams" value=";create=true" />
		<param name="com.sun.jms.default.loglevel" value="WARNING" />
		<param name="com.sun.jms.service.waiter_timeout_interval" value="10" />
		<param name="com.sun.jms.service.max_redelivery_attempts" value="8" />
	</component>
	<component id="orb">
		<param name="port" value="1050" />
		<param name="host" value="localhost" />
	</component>
	<component id="web">
		<param name="http.port" value="8000" />
		<param name="documentroot" value="public_html/" />
		<param name="https.port" value="7000" />
		<param name="keystore.password" value="changeit" />
		<param name="access.log" value="access.log" />
		<param name="error.log" value="error.log" />
		<param name="enable.invoker" value="false" />
	</component>
	<component id="auth">
		<param name="realms" value="default,certificate" />
		<param name="realm.default" value="config/realms/default.properties" />
		<param name="realm.certificate" value="config/realms/certificate.properties" />
		<param name="default.principal.name" value="guest" />
		<param name="default.principal.password" value="guest123" />
		<param name="anyone.role.name" value="ANYONE" />
		<param name="audit" value="false" />
	</component>
	<component id="default">
		<param name="messagebean.serial.mode" value="false" />
		<param name="messagebean.pool.size" value="3" />
		<param name="messagebean.max.serversessionmsgs" value="1" />
		<param name="messagebean.cleanup.interval" value="600" />
		<param name="passivation.threshold.memory" value="128000000" />
		<param name="idle.resource.threshold" value="600" />
		<param name="log.directory" value="logs" />
		<param name="log.output.file" value="output.log" />
		<param name="log.error.file" value="error.log" />
		<param name="log.event.file" value="event.log" />
		<param name="distributed.transaction.recovery" value="false" />
		<param name="transaction.timeout" value="0" />
		<param name="sessionbean.timeout" value="0" />
		<param name="validating.parser" value="false" />
		<param name="deployment.validating.parser" value="true" />
	</component>
	<listener id="id" ip="string" port="string" security="false" acceptor-threads="string" family="string" blocking="false" enabled="true">
		<connection-group id="id" ip="string" default-virtual-server="defaultserver" server-name="string">
			<ssl cert-nickname="string" ssl2="false" ssl2-ciphers="string" ssl3="yes" ssl3-tls-ciphers="string" tls="yes" tls-rollback="yes" client-auth="false" />
		</connection-group>
	</listener>
	<logger level="string" enabled="true" />
	<mime id="id" file="string" />
	<acl id="id" file="string" />
	<virtual-server-class id="id" object-file="string" default-object="string" accept-language="false" enabled="true">
		<param name="string" value="string" />
		<logger level="string" enabled="true" />
		<virtual-server id="defaultserver" connection-groups="idrefs" hosts="string" mime="idref" state="on" acls="idrefs" error-log="string" accept-language="optional">
			<param name="string" value="string" />
			<logger level="string" enabled="true" />
			<qos bandwidth-limit="string" enforce-bandwidth-limit="false" connection-limit="string" enforce-connection-limit="false" />
			<auth-db id="string" database="string" basedn="string" certmaps="string" />
		</virtual-server>
		<qos bandwidth-limit="string" enforce-bandwidth-limit="false" connection-limit="string" enforce-connection-limit="false" />
	</virtual-server-class>
	<qos bandwidth-limit="string" enforce-bandwidth-limit="false" connection-limit="string" enforce-connection-limit="false" />
	<application name="app2" location="string" enabled="false">
		<logger level="string" enabled="true" />
		<ejb-module name="string" location="string" enabled="true">
			<logger level="string" enabled="true" />
		</ejb-module>
		<web-module name="string" context-root="string" location="string" enabled="true" virtual-servers="defaultserver">
			<logger level="string" enabled="true" />
		</web-module>
	</application>
	<ejb-module name="string" location="string" enabled="true">
		<logger level="string" enabled="true" />
	</ejb-module>
	<web-module name="string" context-root="string" location="string" enabled="true" virtual-servers="defaultserver">
		<logger level="string" enabled="true" />
	</web-module>
        <application name="adminapp" location="${IWS_ROOT}/https-admserv/repository/applications/adminapp" enabled="true"> 
          <web-module location="war-ic_war" enabled="true"> 
          </web-module> 
        </application>
</server>

