<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>FindInterestApp</display-name>
  <servlet>
    <servlet-name>FindInterestServletClient</servlet-name>
    <servlet-class>myclient.FindInterestServletClient</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindInterestServletClient</servlet-name>
    <url-pattern>/FindInterestClient</url-pattern>
  </servlet-mapping>
  <service-ref>
          <description>findintr service ref</description>
          <service-ref-name>service/FindInterest</service-ref-name>
          <service-interface>myclient.FindInterest</service-interface>
          <wsdl-file>WEB-INF/wsdl/FindInterest.wsdl</wsdl-file>
          <jaxrpc-mapping-file>IntrClientMapping.xml</jaxrpc-mapping-file>
      </service-ref>
  <session-config>
    <session-timeout>54</session-timeout>
  </session-config>
</web-app>
