<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <display-name>UpdateJsp</display-name>
        <servlet-name>UpdateJsp</servlet-name>
        <servlet-class>UpdateJsp</servlet-class>
    </servlet>  

   <servlet-mapping>
        <servlet-name>UpdateJsp</servlet-name>
        <url-pattern>/UpdateJsp</url-pattern>
    </servlet-mapping>

</web-app>



