
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1">
<test name="DeveloperJBITest">
<parameter name="saName" value="sa-for-bc1-and-bc2.zip"/>
	<groups>
		<define name="uninstall">
			<include name="undeploySA"/> 
		</define>
		<run>
			<include name="uninstall"/>
		</run>	 
	</groups>
	<classes>
		<class name="com.sun.jbi.jsf.test.JBITest"/>
	</classes>
</test>

<!--<test name="ClusterJBINodeTest">
<parameter name="saName" value="sa-for-bc1-and-bc2.zip"/>
	<groups>
		<define name="runJBINodeTest">
			<include name="undeploySA"/> 
		</define>
		<run>
			<include name="runJBINodeTest"/>
		</run>	 
	</groups>
	<classes>
                <class name="com.sun.jbi.jsf.test.JBIClusterTest"/>
	</classes>
</test>
<test name="ClusterServerJBITabTest">
<parameter name="saName" value="sa-for-bc1-and-bc2.zip"/>
	<groups>
		<define name="runServerNodeJBITabTest">
			<include name="undeploySASvr"/> 
		</define>
		<run>
			<include name="runServerNodeJBITabTest"/>
		</run>	 
	</groups>
	<classes>
                <class name="com.sun.jbi.jsf.test.JBIClusterTest"/>
	</classes>
</test>


<test name="ClusterJBITabTest">
<parameter name="saName" value="sa-for-bc1-and-bc2.zip"/>
	<groups>
		<define name="runClusterNodeJBITabTest">
			<include name="undeploySAClstr"/> 
		</define>
		<run>
			<include name="runClusterNodeJBITabTest"/>
		</run>	 
	</groups>
	<classes>
                <class name="com.sun.jbi.jsf.test.JBIClusterTest"/>
	</classes>
</test>-->
</suite>