<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="FunctionalTests"    verbose="2" >
    <parameter name="host"  value="localhost"/>
    <parameter name="port"  value="8080"/>
    <parameter name="contextroot"  value="hello"/>
  <test name="web_hello_world">
    <classes>
       <class name="test.web.jsp.hello.WebTestNG" />
    </classes>
  </test>
  <test name="ejb30_session_hello">
    <classes>
       <class name="ejb30.session.hello.test.TestClient" />
    </classes>
  </test> 
</suite>

