<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:j2ee="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
			http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<description>WebTier for the Calculator Service</description>
	<display-name>CalculatorWAR</display-name>

	<servlet>
		<description>Endpoint for Calculator Web Service</description>
		<display-name>CalculatorWebService</display-name>
		<servlet-name>Calculator</servlet-name>
		<servlet-class>endpoint.Calculator</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Calculator</servlet-name>
		<url-pattern>/webservice/CalculatorService</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>54</session-timeout>
	</session-config>

</web-app>

