<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <filter>
    <filter-name>Resource Injection Filter</filter-name>
    <filter-class>com.sun.s1asdev.deployment.ejb30.web.jsp.MyFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Resource Injection Filter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>IndexJsp</servlet-name>
    <servlet-class>/index.jsp</servlet-class>
  </servlet>

  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/test-taglib</taglib-uri>
      <taglib-location>/WEB-INF/my.tld</taglib-location>
    </taglib>
  </jsp-config>

</web-app>


