<?xml version="1.0" encoding="UTF-8"?>
<configuration 
  xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">
  <service 
      name="WebServiceServletTest" 
      targetNamespace="urn:WebServiceTest" 
      typeNamespace="urn:WebServiceTest" 
      packageName="test.webservice">
      <interface name="test.webservice.WebServiceTest"/>
  </service>
</configuration> 
