<?xml version="1.0" encoding="UTF-8"?>
<weblogic-webservices version="1.0" xmlns="http://xmlns.oracle.com/weblogic/weblogic-webservices"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://www.ibm.com/webservices/xsd/javaee_web_services_1_2.xsd">
    <webservice-description>
        <webservice-description-name>AddNumbersService</webservice-description-name>
        <webservice-type>JAXWS</webservice-type>
        <wsdl-publish-file>%TOKEN%</wsdl-publish-file>
        <port-component>
            <port-component-name>AddNumbersImpl</port-component-name>
            <wsdl>
                <exposed>
                    false
                </exposed>
            </wsdl>
            <validate-request>true</validate-request>
        </port-component>
    </webservice-description>
</weblogic-webservices>

