<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN' 'http://java.sun.com/j2ee/dtds/web-app_2_2.dtd'>

<web-app>
  <display-name>simpleservlettest</display-name>
  <servlet>
    <servlet-name>simpleservlettest</servlet-name>
    <servlet-class>mypackage.Hello</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>simpleservlettest</servlet-name>
    <url-pattern>/simpleservlettest</url-pattern>
  </servlet-mapping>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name></realm-name>
    <form-login-config>
      <form-login-page></form-login-page>
      <form-error-page></form-error-page>
    </form-login-config>
  </login-config>
  <ejb-ref>
    <ejb-ref-name>ejb/TxBeanA</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>com.sun.s1peqe.transaction.txstress.ejb.beanA.TxRemoteHomeA</home>
    <remote>com.sun.s1peqe.transaction.txstress.ejb.beanA.TxRemoteA</remote>
  </ejb-ref>
</web-app>

