<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN' 'http://java.sun.com/j2ee/dtds/web-app_2_2.dtd'>

<web-app>
  <display-name>simpleservlettest</display-name>
  <distributable></distributable>
  <servlet>
    <servlet-name>simpleservlettest</servlet-name>
    <servlet-class>myapp.HelloServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>simpleservlettest</servlet-name>
    <url-pattern>/simpleservlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
	<welcome-file>hello.jsp</welcome-file>
    </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name></realm-name>
    <form-login-config>
      <form-login-page></form-login-page>
      <form-error-page></form-error-page>
    </form-login-config>
  </login-config>
  
</web-app>

