<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
         xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>virtualserver</display-name>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>virtualserver.TestServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/virtualserver</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>54</session-timeout>
  </session-config>
  <env-entry>
    <env-entry-name>name</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>LuckyNumber</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>value</env-entry-name>
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>888</env-entry-value>
  </env-entry>
</web-app>
