<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>WebTest</servlet-name>
        <servlet-class>com.sun.s1asdev.security.multiRoleMapping.web.WebTest</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>WebTest</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <session-config>
      
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <security-constraint>
        <display-name>constraint-role1</display-name>
        <web-resource-collection>
            <web-resource-name>WebTestServlet</web-resource-name>
            <description/>
            <url-pattern>/role1</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>role1</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>constraint-role2</display-name>
        <web-resource-collection>
            <web-resource-name>WebTestServlet</web-resource-name>
            <description/>
            <url-pattern>/role2</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>role2</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>constraint-role3</display-name>
        <web-resource-collection>
            <web-resource-name>WebTestServlet</web-resource-name>
            <description/>
            <url-pattern>/role3</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>role3</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>constraint-role4</display-name>
        <web-resource-collection>
            <web-resource-name>WebTestServlet</web-resource-name>
            <description/>
            <url-pattern>/role4</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>role4</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>constraint-role5</display-name>
        <web-resource-collection>
            <web-resource-name>WebTestServlet</web-resource-name>
            <description/>
            <url-pattern>/role5</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>role5</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>constraint-role6</display-name>
        <web-resource-collection>
            <web-resource-name>WebTestServlet</web-resource-name>
            <description/>
            <url-pattern>/role6</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>role6</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>constraint-role7</display-name>
        <web-resource-collection>
            <web-resource-name>WebTestServlet</web-resource-name>
            <description/>
            <url-pattern>/role7</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>role7</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <security-role>
        <role-name>role1</role-name>
    </security-role>
    <security-role>
        <role-name>role2</role-name>
    </security-role>
    <security-role>
        <role-name>role3</role-name>
    </security-role>
    <security-role>
        <role-name>role4</role-name>
    </security-role>
    <security-role>
        <role-name>role5</role-name>
    </security-role>
    <security-role>
        <role-name>role6</role-name>
    </security-role>
    <security-role>
        <role-name>role7</role-name>
    </security-role>
</web-app>
