@echo off

REM
REM Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
REM Use is subject to license terms.
REM

setlocal
call "%CONFIG_HOME%\asenv.bat"
"%AS_JAVA%\bin\java" -Xms24m -Xmx96m  -cp "%AS_INSTALL%\lib\appserv-rt.jar;%AS_INSTALL%\lib\appserv-cmp.jar;%AS_INSTALL%\lib\dbschema.jar;%AS_INSTALL%\lib\appserv-ee.jar;%AS_INSTALL%\lib\appserv-env.jar;%CLASSPATH%" com.sun.jdo.spi.persistence.support.ejb.util.CaptureSchemaWrapper %*
endlocal
