#!/bin/sh

#
# Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
# Use is subject to license terms.
#

. %CONFIG_HOME%/asenv.conf
$AS_PERL/perl $AS_INSTALL/lib/installpatch.pl $AS_INSTALL "${@}"
