@echo off

rem
rem Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
rem Use is subject to license terms.
rem

setlocal
call %CONFIG_HOME%\asenv.bat
%AS_PERL%\perl %AS_INSTALL%\lib\listpatch.pl %AS_INSTALL% %1 %2 %3 %4 %5 %6
endlocal
echo on
