<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>Javamail test</display-name>
    <servlet>
        <display-name>EmailNotifer</display-name>
        <servlet-name>EmailNotifier</servlet-name>
        <servlet-class>org.glassfish.grizzly.async.servlet.EmailNotifierServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>mailServer</param-name>
      <param-value>pop.gmail.com</param-value>
    </init-param>
    <init-param>
      <param-name>mailServerPort</param-name>
      <param-value>995</param-value>
    </init-param>
    <init-param>
      <param-name>contextPath</param-name>
      <param-value>/GetMail</param-value>
    </init-param>

        <load-on-startup>10</load-on-startup>
    </servlet>  
   <servlet-mapping>
        <servlet-name>EmailNotifier</servlet-name>
        <url-pattern>/GetMail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
</web-app>

