<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="OfflineConfig admin devtests" >
    <test name="admin.OfflineConfigTests">
        <groups>
            <run>
                <exclude name="brokenTests" />
                <exclude name="interactiveTests" />
            </run>
        </groups>
        <classes>
            <class name="com.sun.enterprise.admin.config.OfflineConfigTest" />
        </classes>
  </test>
</suite>
