<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
     
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>test.TestServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>  

    <servlet>
        <servlet-name>DispatchTarget</servlet-name>
        <servlet-class>test.DispatchTarget</servlet-class>
    </servlet>  
    
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DispatchTarget</servlet-name>
        <url-pattern>/DispatchTarget</url-pattern>
    </servlet-mapping>

</web-app>

