<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>RosterClient</display-name>
  <servlet>
    <servlet-name>RosterServlet</servlet-name>
    <display-name>RosterServlet</display-name>
    <description>Default configuration created for servlet.</description>
    <servlet-class>client.RosterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RosterServlet</servlet-name>
    <url-pattern>/Roster</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  <ejb-ref>
    <ejb-ref-name>ejb/SimpleRosterExt</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>roster.RosterHome</home>
    <remote>roster.Roster</remote>
  </ejb-ref>
</web-app>
