<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/utf16/*</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>/foo/*</url-pattern>
      <url-pattern>/foo/bar/baz/test2.jsp</url-pattern>
      <el-ignored>true</el-ignored>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>/foo/bar/baz/*</url-pattern>
      <el-ignored>false</el-ignored>
    </jsp-property-group>
  </jsp-config>
</web-app>

