<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">

    <servlet>
        <servlet-name>From</servlet-name>
        <servlet-class>From</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ForwardTarget</servlet-name>
        <servlet-class>ForwardTarget</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>IncludeTarget</servlet-name>
        <servlet-class>IncludeTarget</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>From</servlet-name>
        <url-pattern>/From</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ForwardTarget</servlet-name>
        <url-pattern>/ForwardTarget</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IncludeTarget</servlet-name>
        <url-pattern>/IncludeTarget</url-pattern>
    </servlet-mapping>

</web-app>


