<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="web" >
  <parameter name="host" value="localhost"/>
  <parameter name="port" value="8080"/>
  <parameter name="contextroot" value="/web-session-id-url-rewrite"/>
  <test name="web.session-id-url-rewrite" >
    <classes>
      <class name="WebTestNG" />
    </classes>
  </test>
</suite>
