@echo off

REM
REM Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
REM Use is subject to license terms.
REM

setlocal
call %CONFIG_HOME%\asenv.bat
set first_arg=%1
shift
set second_arg=%1
shift
set third_arg=%1
shift
set PATH=%first_arg%;%second_arg%;%PATH%
call %third_arg%\pk12util.exe %*
