<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2008, Your Corporation. All Rights Reserved.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

  <servlet>
    <servlet-name>killer</servlet-name>
    <servlet-class>killer.KillerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>killer</servlet-name>
    <url-pattern>/killer</url-pattern>
  </servlet-mapping>
</web-app>
