<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="corba-test" >
  <test name="corba.timer" >
    <classes>
      <class name="corba.timer.ActivationSuite" />
      <class name="corba.timer.Client" />
      <class name="corba.timer.ControllableBaseSuite" />
      <class name="corba.timer.NamedBaseSuite" />
      <class name="corba.timer.TimerFactorySuite" />
      <class name="corba.timer.TimerPointsSuite" />
    </classes>
  </test>
</suite>
