<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
     
    <servlet>
      <display-name>TestClientCert</display-name>
      <servlet-name>TestClientCert</servlet-name>
      <servlet-class>devtests.security.TestClientCert</servlet-class>
    </servlet>  
    
    <servlet-mapping>
      <servlet-name>TestClientCert</servlet-name>
      <url-pattern>/TestClientCert</url-pattern>
    </servlet-mapping>

    <security-constraint>
      <web-resource-collection>
	  <web-resource-name>Protected Area</web-resource-name>
          <url-pattern>/TestClientCert</url-pattern>
          <http-method>DELETE</http-method>
          <http-method>GET</http-method>
          <http-method>POST</http-method>
          <http-method>PUT</http-method>
      </web-resource-collection>
      <auth-constraint>
        <role-name>MANAGER</role-name>
      </auth-constraint>
      <user-data-constraint>
         <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>

    <login-config>
      <auth-method>CLIENT-CERT</auth-method>
      <realm-name>default</realm-name>
    </login-config>

    <security-role>
      <role-name>MANAGER</role-name>
    </security-role>

</web-app>

