<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>jmsweb</display-name>
  <distributable></distributable>
  <servlet>
    <servlet-name>JmsServlet</servlet-name>
    <servlet-class>com.sun.s1asdev.jms.msgdest.jmsweb.JmsServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JmsServlet</servlet-name>
    <url-pattern>/jmsservlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
     <description>description</description>
     <res-ref-name>jms/MyQueueConnectionFactory</res-ref-name>
     <res-type>javax.jms.QueueConnectionFactory</res-type>
     <res-auth>Container</res-auth>
     <res-sharing-scope>Shareable</res-sharing-scope> 
  </resource-ref>
  <message-destination-ref>
     <description>intra-war destination</description>
     <message-destination-ref-name>jms/MyQueue
     </message-destination-ref-name>
     <message-destination-type>javax.jms.Queue</message-destination-type>
     <message-destination-usage>ConsumesProduces</message-destination-usage>
     <message-destination-link>WebQueue</message-destination-link>
  </message-destination-ref>
  <message-destination-ref>
     <description>non-qualified appclient destination</description>
     <message-destination-ref-name>jms/MyQueue2
     </message-destination-ref-name>
     <message-destination-type>javax.jms.Queue</message-destination-type>
     <message-destination-usage>Consumes</message-destination-usage>
     <message-destination-link>AppclientQueue</message-destination-link>
   </message-destination-ref>
   <message-destination-ref>
     <description>explicitly referenced appclient destination</description>
     <message-destination-ref-name>jms/MyQueue3
     </message-destination-ref-name>
     <message-destination-type>javax.jms.Queue</message-destination-type>
     <message-destination-usage>Consumes</message-destination-usage>
     <message-destination-link>../../jms-msgdest-jmsweb-client.jar#AppclientQueue</message-destination-link>
   </message-destination-ref>
   <message-destination>
      <description>description 1</description>
      <display-name>msg destination display name</display-name>
      <message-destination-name>WebQueue</message-destination-name>
   </message-destination>
</web-app>

