<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2004-2005 Sun Microsystems, Inc.  All rights reserved.
 Use is subject to license terms.
-->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>Welcome to BASIC Security Zone</display-name>
  <servlet>
    <display-name>basic</display-name>
    <servlet-name>basic</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <resource-ref>
    <res-ref-name>jdbc/DS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>basic secuity test</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>employee</role-name>
      <role-name>contractor</role-name>
      <role-name>management</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <!--<realm-name>basic-file</realm-name>-->
<!--    <realm-name>jdbc</realm-name> -->
  </login-config>
  <!-- replace last section with this section to run CLIENT-CERT sample.
  <login-config>
    <auth-method>CLIENT-CERT</auth-method>
    <realm-name>basic-file</realm-name>
  </login-config>
  -->
  <security-role>
    <role-name>employee</role-name>
  </security-role>
  <security-role>
    <role-name>contractor</role-name>
  </security-role>
  <security-role>
    <role-name>management</role-name>
  </security-role>
</web-app>
