<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">

    <listener>
        <listener-class>test.MyListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>RedirectFrom</servlet-name>
        <servlet-class>test.RedirectFrom</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RedirectTo</servlet-name>
        <servlet-class>test.RedirectTo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RedirectFrom</servlet-name>
        <url-pattern>/redirectFrom</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RedirectTo</servlet-name>
        <url-pattern>/redirectTo</url-pattern>
    </servlet-mapping>

</web-app>


