<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--link href="https://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css'-->
    <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani:200,300,400,600,800" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?' | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ "Java EE RI Download" }}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ "Java EE Reference Implementation" }}</h1>
        </a>
        <h2>{{ "Download page" }}</h2>

        <a href="{{ '/' | absolute_url }}" class="buttonri"></a>

      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content" style="width:92%;">
          {{ content }}
        </section>
          
          
      </div>
    </div>
    <br/>

    <div class="footer">
      <a id="copyright" class="oracle" href="https://www.oracle.com/legal/copyright.html">&copy; Oracle</a> | By contributing to this project, you are agreeing to the terms of use described <a href="CONTRIBUTING">here</a>.
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>
</html>
