.dojoCheckbox, .dojoRadioButton {
	border: 0px;
	width: 16px;
	height: 16px;
	margin: 2px;
	vertical-align: middle;
}

.dojoCheckboxOn {
	background: url(check.gif) 0px 0px;
}
.dojoCheckboxOff {
	background: url(check.gif) -16px 0px;
}
.dojoCheckboxDisabledOn {
	background: url(check.gif) -32px 0px;
}
.dojoCheckboxDisabledOff {
	background: url(check.gif) -48px 0px;
}
.dojoCheckboxOnHover {
	background: url(check.gif) -64px 0px;
}
.dojoCheckboxOffHover {
	background: url(check.gif) -80px 0px;
}

.dojoRadioButtonOn {
	background: url(check.gif) 0px 16px;
}
.dojoRadioButtonOff {
	background: url(check.gif) -16px 16px;
}
.dojoRadioButtonDisabledOn {
	background: url(check.gif) -32px 16px;
}
.dojoRadioButtonDisabledOff {
	background: url(check.gif) -48px 16px;
}
.dojoRadioButtonOnHover {
	background: url(check.gif) -64px 16px;
}
.dojoRadioButtonOffHover {
	background: url(check.gif) -80px 16px;
}