<div class="WizardContainer" dojoAttachPoint="wizardNode">
    <div class="WizardText" dojoAttachPoint="wizardPanelContainerNode">
    </div>
    <div class="WizardButtonHolder" dojoAttachPoint="wizardControlContainerNode">
        <input class="WizardButton" type="button" dojoAttachPoint="previousButton" value="${this.messages.buttonPrevious}">
        <input class="WizardButton" type="button" dojoAttachPoint="nextButton" value="${this.messages.buttonNext}">
        <input class="WizardButton" type="button" dojoAttachPoint="doneButton" style="display:none" value="${this.messages.buttonDone}">
        <input class="WizardButton" type="button" dojoAttachPoint="cancelButton" value="${this.commonMessages.buttonCancel}">
    </div>
</div>
