<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <display-name>status6</display-name>
    <description>status6</description>
    <servlet-name>bmservlet4</servlet-name>
    <servlet-class>com.sun.s1asdev.jdbc.transactions.test1.servlet.bmservlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bmservlet4</servlet-name>
    <url-pattern>/bmservlet4</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  <resource-ref>
  <description>sybasethird</description>
        <res-ref-name>jdbc/oraclethird</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
</resource-ref>
<resource-ref>
  <description>oracleds2</description>
        <res-ref-name>jdbc/oracleds2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
</resource-ref>
<ejb-ref>
<description>status6</description>
    <ejb-ref-name>ejb/bmsamplebean3</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>com.sun.s1asdev.jdbc.transactions.test1.ejb.bmsample3home</home>
    <remote>com.sun.s1asdev.jdbc.transactions.test1.ejb.bmsample3</remote>
    <ejb-link>bmsamplebean3</ejb-link>
  </ejb-ref>
</web-app>
