/*
 * The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the License). You may not use this file except in
 * compliance with the License.
 * 
 * You can obtain a copy of the License at
 * https://javaserverfaces.dev.java.net/CDDL.html or
 * legal/CDDLv1.0.txt. 
 * See the License for the specific language governing
 * permission and limitations under the License.
 * 
 * When distributing Covered Code, include this CDDL
 * Header Notice in each file and include the License file
 * at legal/CDDLv1.0.txt.    
 * If applicable, add the following below the CDDL Header,
 * with the fields enclosed by brackets [] replaced by
 * your own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 * 
 * [Name of File] [ver.__] [Date]
 * 
 * Copyright 2005 Sun Microsystems Inc. All Rights Reserved
 */

.form-background { 
  background-color: #7171A5;
  border: 5px outset #71A5A5;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 14pt;
  padding: 10px;
}

.form-footer { 
  color: #FFFFFF;
  font-size: 75%;
  text-align: center;
}

.form-header { 
  background-color: #A5A5A5;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.form-prompt {
  color: #FFFFFF;
  margin: 3px 5px 3px 15px;
  text-align: right;
}

.form-field {
  text-align: left;
}

.form-row-even { 
}

.form-row-odd { 
  background-color: #717171;
}


.list-background { 
  background-color: #7171A5;
  border: 5px outset #71A5A5;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 14pt;
  padding: 10px;
  width: 100%;
}

.list-column-center { 
  text-align: center;
  width: 15%;
}

.list-column-left {
  text-align: left;
  width: 70%;
}

.list-column-right {
  text-align: right;
  width: 15%;
}

.list-header { 
  background-color: #A5A5A5;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.list-row-even { 
}

.list-row-odd { 
  background-color: #717171;
}


.tabbed-pane { 
  background-color: #999999;
  font-family: sans-serif;
  font-size: 12pt;
  padding: 5px;
  width: 100%;
}

.tabbed-content { 
  background-color: #CCCCCC;
  color: #000000;
}

.tabbed-selected {
  background-color: #CCCCCC;
  border: 2px 5px 0px 5px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.tabbed-unselected {
  background-color: #9999CC;
  border: 2px 5px 0px 5px;
  color: #000000;
  text-align: center;
}

