<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN' 'http://java.sun.com/j2ee/dtds/web-app_2_2.dtd'>

<web-app>
  <display-name>jsp2sful</display-name>
  <distributable></distributable>
  <servlet>
    <servlet-name>LoginJsp</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>IndexJsp</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
    <load-on-startup>0</load-on-startup>
    <security-role-ref>
        <role-name>EMP</role-name>
        <role-link>employee</role-link>
    </security-role-ref>
    </servlet>
  <security-constraint>
    <web-resource-collection>
        <web-resource-name>MySecureBit</web-resource-name>
        <url-pattern>/index.jsp</url-pattern>
        <http-method>GET</http-method>
        <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
        <role-name>employee</role-name>
    </auth-constraint>
    <user-data-constraint>
        <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>default</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/error.html</form-error-page>
    </form-login-config>
  </login-config>
  
  <security-role>
    <role-name>employee</role-name>
  </security-role>
  
  <ejb-ref>
    <ejb-ref-name>jsp2sful</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>profile.ProfileInfoHome</home>
    <remote>profile.ProfileInfoRemote</remote>
  </ejb-ref>
</web-app>

