/* 
    Document   : handsonlabs
    Created on : Jan 28, 2008, 5:26:36 PM
    Author     : dant
    Description:
        Stylesheet containing JavaOne Hands-on Labs style classes.
*/

code {white-space: nowrap;}
.j1holtabbar{width: 100%;}
div.j1holtab{background:#CCDAE3 url("d7_tab_bg.gif") repeat-x;border-right:1px solid #FFF;border-top:3px solid #FFF;}
div.j1holtab div{background:url("corner_navblue_tr.gif") no-repeat right top;padding:6px 7px 3px 7px;min-height: 16px;color: #35556B;}
div.j1holtab div a{white-space: nowrap; color:#35556B;}
div.j1holtab div a:visited{color:#35556B}
div.j1holtab-selected{background:#507c9a url("bg_titlebar.gif") no-repeat left top;border-right:1px solid #FFF;padding:0px}
div.j1holtab-selected div{background:url("a2_corner_tr.gif") no-repeat right top;padding:9px 7px 5px 7px;font-weight:bold;color:#FFF;min-height: 16px;}
div.j1holtab-selected div a{white-space: nowrap; color:#FFF;}
div.j1holtab-selected div a:visited{color:#FFF;}
div.j1holpanel{padding: 15px;}
div.j1holcontents{margin-left: 40px;}
div.j1holcontents img{margin-top:9px; margin-bottom:15px;}
div#j1holframe table.gwt-TabPanel{width: 100%;}
img.j1holheaderimg{height: 180px; width: 711px; border: 0px;}
.hidden{display: none !important}
.j1holduration{text-align: center;font-weight: bold;padding-top: 9px;}
div.j1holcopyright p{text-align: center;font-weight: bold;padding-top: 15px;padding-bottom: 9px;}
div.j1holcopyright pre{white-space: normal;}
.j1holcontacts, .j1holcontacts a{font-weight: bold; padding-top: 15px; text-align: center;}
.j1holupdated{font-weight: bold; padding-top: 20px;padding-bottom: 9px;}
.j1holheader, h2{font-weight: bold; text-decoration: underline; font-size:14px;}
.j1holsubheader, h3{font-weight: bold; font-size:13px;}
.j1holnote, .j1holnote a, .j1holnote a:visited, .j1holnote code, .j1holwarn, .j1holwarn a, .j1holwarn a:visited, .j1holwarn code{color: red}
.j1holnote a, .j1holwarn a{text-decoration: underline}
.j1holwarn, .j1holwarn a, .j1holwarn code{padding-top: 10px; padding-bottom: 10px; font-weight: bold;}
.j1holtip, .j1hollist > li > p.j1holtip {padding: 5px; margin-left: 40px; margin-right: 40px; margin-top: 9px; margin-bottom: 15px; background-color: lightgrey;}
.j1holtip p.j1holsubheader{text-align: center;}
ul.j1hollist > li + li, ol.j1hollist > li + li{padding-top: 10px;}
ul.j1hollist > li ul, ol.j1hollist > li ol, ul.j1hollist > li ol, ol.j1hollist > li ul{padding-top: 2px;padding-bottom: 3px;}
ol.j1hollist ol > li{list-style-type: lower-alpha; list-style-image: none;}
ol.j1hollist ol ol > li{list-style-type: lower-roman; list-style-image: none;}
div.j1holcontents > h2 {padding-bottom: 10px;}
/* Codebox settings */
div.codebox pre {
        border: solid 1px rgb(150, 150, 150);
        padding: 6px;
        font-family: monospace;
        background-color: #fafafa;
}
div.console pre {
        border: solid 2px rgb(150, 150, 150);
        padding: 5px;
        font-family: monospace;
        font-weight: bold;
        background-color: black;
        color: lightgray;
}
div.collapseboxclosed, div.collapseboxopen {
        height: 1px;
        margin: 0;
        padding: 0;
        background-color: rgb(206, 123, 0);
        position: relative;
}
div.collapseboxopen div, div.collapseboxclosed div {
        position: absolute;
        top: -6px;
        left: -11px;
        height: 11px;
        width: 11px;
        z-index: 10;
}
div.collapseboxopen div:hover {
        background-image: url("collapsewidget_open_hover.png");
}
div.collapseboxclosed div:hover {
        background-image: url("collapsewidget_closed_hover.png");
}
div.collapseboxopen div {
        background-image: url("collapsewidget_open.png");
}
div.collapseboxclosed div {
        background-image: url("collapsewidget_closed.png");
}
span.collapsed, span.xcollapsed {
        display: none;
        color: inherit;
        background-color: inherit;
        font-weight: inherit;
        font-style: inherit;
        font-variant: inherit;
}
span.uncollapsed, span.xcollapsed {
        display: normal;
        color: inherit;
        background-color: inherit;
        font-weight: inherit;
        font-style: inherit;
        font-variant: inherit;
}
span.command {
        font-weight: bold;
        font-style: italic;
        color: red;
}
div.group {border-top: solid 2px;}
div.codebox pre a.LineNumber, div.codebox pre a.LineNumber:visited {color: darkgray; font-weight: normal; text-decoration: none}
div.codebox pre span.Comment, div.codebox pre span.Comment span, div.codebox pre span.Comment a {color: rgb(150, 150, 150); font-weight: normal;}
div.codebox pre span.DocComment {color: rgb(150, 150, 150); font-weight: normal;}
div.codebox pre span.String {color: rgb(206, 123, 0); font-weight: normal;}
div.codebox pre span.EscString {color: rgb(206, 123, 0); font-weight: bold;}
div.codebox pre span.Character {color: rgb(206, 123, 0); font-weight: normal;}
div.codebox pre span.EscCharacter {color: rgb(206, 123, 0); font-weight: bold;}
div.codebox pre span.Numeric {color: black; font-weight: normal;}
div.codebox pre span.Identifier {color: black; font-weight: normal;}
div.codebox pre span.PredefinedIdentifier {color: rgb(0,0,230); font-weight: normal;}
div.codebox pre span.Type {color: black; font-weight: normal;}
div.codebox pre span.ReservedWord {color: rgb(0, 0, 230); font-weight: normal;}
div.codebox pre span.LibraryFunction {color: black; font-weight: normal;}
div.codebox pre span.Include {color: rgb(0,155,0); font-weight: normal;}
div.codebox pre span.Preprocessor {color: rgb(0,155,0); font-weight: normal;}
div.codebox pre span.Braces {color: black; font-weight: normal;}
div.codebox pre span.Symbol {color: black; font-weight: normal;}
div.codebox pre span.FunctionHeader {color: black; font-weight: normal;}
div.codebox pre span.FunctionHeaderName {color: black; font-weight: normal;}
div.codebox pre span.FunctionHeaderArgs {color: black; font-weight: normal;}
div.codebox pre span.RegEx {color: rgb(0,111,0); font-weight: bold;}
div.codebox pre span.Text {color: rgb(206, 123, 0); font-weight: normal;}
div.codebox pre span.Entity {color: black; font-weight: bold;}
div.codebox pre span.Assignment {color: black; font-weight: normal;}
div.codebox pre span.DependencyLine {color: black; font-weight: normal;}
div.codebox pre span.DependencyTarget {color: black; font-weight: bold;}
div.codebox pre span.DependencyContinuation {color: black; font-weight: bold;}
div.codebox pre span.Continuation {color: black; font-weight: bold;}
div.codebox pre span.Macro {color: rgb(0,153,0); font-weight: normal;}
div.codebox pre span.IntMacro {color: rgb(0,153,0); font-weight: normal;}
div.codebox pre span.EscVar {color: black; font-weight: bold;}
/* Special coloring for HTML tags */
div.codebox pre span.PredefinedIdentifier > span.Braces {color: rgb(0,0,230); font-weight: normal;}
div.codebox pre span.PredefinedIdentifier > span.Identifier {color: rgb(0,153,0); font-weight: normal;}
/* Fix for list formatting issue */
.j1hollist > li > p {margin-top: 3px; margin-bottom: 3px;}