<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>GoogleWebApp</display-name>
  <servlet>
    <servlet-name>GoogleServlet</servlet-name>
    <servlet-class>com.sun.s1asdev.ejb.webservice.ksink.googleserverweb.GoogleServletImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleServlet</servlet-name>
    <url-pattern>/GoogleSearch</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>54</session-timeout>
  </session-config>
  <env-entry>
    <env-entry-name>entry1</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Blah</env-entry-value>
  </env-entry>
  <service-ref>
    <description>service ref for ejb endpoint</description>
    <service-ref-name>service/EjbDIIReference</service-ref-name>
    <service-interface>javax.xml.rpc.Service</service-interface>
    <wsdl-file>WEB-INF/wsdl/GoogleSearch.wsdl</wsdl-file>
    <jaxrpc-mapping-file>googleweb.model</jaxrpc-mapping-file>
    <service-qname xmlns:googlens="urn:GoogleSearch">googlens:GoogleSearchService</service-qname>
    <port-component-ref>
      <service-endpoint-interface>com.sun.s1asdev.ejb.webservice.ksink.googleserverweb.GoogleSearchPort
      </service-endpoint-interface>
      <port-component-link>ksink-ejb.jar#GoogleSearchEjbPort</port-component-link>
    </port-component-ref>
   </service-ref>
</web-app>
